# XML 
- 자료를 표현하는 언어 
- https://www.w3schools.com/xml/xml_tree.asp

# xml 파싱 테스트

- 데이타 요청 
- 파싱(bs4) 
- 데이타프레임 
- csv 파일 변환

In [1]:
# 0) 모듈 임포트 
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
# 1) 데이타요청 <= xml 파일
with open('boostore.xml', 'r') as f:
    xml_str = f.read()
    print(type(xml_str))
    print(xml_str)

<class 'str'>
<?xml version="1.0" encoding="UTF-8"?>
<bookstore>
  <book category="cooking">
    <title lang="en">Everyday Italian</title>
    <author>Giada De Laurentiis</author>
    <year>2005</year>
    <price>30.00</price>
  </book>
  <book category="children">
    <title lang="en">Harry Potter</title>
    <author>J K. Rowling</author>
    <year>2005</year>
    <price>29.99</price>
  </book>
  <book category="web">
    <title lang="en">Learning XML</title>
    <author>Erik T. Ray</author>
    <year>2003</year>
    <price>39.95</price>
  </book>
</bookstore>

In [2]:
ls *.xml

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: F2CA-487A

 c:\pyclass 디렉터리

2023-02-13  오후 03:11               554 boostore.xml
               1개 파일                 554 바이트
               0개 디렉터리  925,038,317,568 바이트 남음

In [5]:
# 2) 문자열 데이타 => 숩객체 
# xml 로 지정 
soup = BeautifulSoup(xml_str, 'xml')
print(type(soup))

<class 'bs4.BeautifulSoup'>

In [7]:
# 3) 메서드 적용해서 데이타 추출 
# find() => 1개
# find_all() => 리스트 
# text
# [속성], get(속성)

# 첫번째 book 
print(soup.find('book'))
print()
# 전체 book 태그 
print(soup.find_all('book'))

<book category="cooking">
<title lang="en">Everyday Italian</title>
<author>Giada De Laurentiis</author>
<year>2005</year>
<price>30.00</price>
</book>

[<book category="cooking">
<title lang="en">Everyday Italian</title>
<author>Giada De Laurentiis</author>
<year>2005</year>
<price>30.00</price>
</book>, <book category="children">
<title lang="en">Harry Potter</title>
<author>J K. Rowling</author>
<year>2005</year>
<price>29.99</price>
</book>, <book category="web">
<title lang="en">Learning XML</title>
<author>Erik T. Ray</author>
<year>2003</year>
<price>39.95</price>
</book>]

In [9]:
# 리스트화 
book_list = soup.find_all('book')
# 개별 데이타 
title = book_list[0].title.text
category = book_list[0]['category']
author = book_list[0].author.text
year = book_list[0].year.text
price = book_list[0].price.text
print('책 제목 : ', title)
print('종류 : ', category)
print('저자 : ', author)
print('출판년도 : ', year)
print('가격 : ', price)

책 제목 :  Everyday Italian
종류 :  cooking
저자 :  Giada De Laurentiis
출판년도 :  2005
가격 :  30.00

In [10]:
# 4) 2차원 데이타 구조 => 데이타프레임
result_list = []
for book in book_list:
    title = book.title.text
    category = book['category']
    author = book.author.text
    year = book.year.text
    price = book.price.tex   
    result_list.append([title, category, author, year, price])

df = pd.DataFrame(result_list, 
                  columns=['책제목', '종류', '저자', '출판년도', '가격'])
df

                책제목        종류                   저자  출판년도    가격
0  Everyday Italian   cooking  Giada De Laurentiis  2005  None
1      Harry Potter  children         J K. Rowling  2005  None
2      Learning XML       web          Erik T. Ray  2003  None

# xml 퀴즈 - 슬라이드 40

In [30]:
with open('data/country.xml', 'r') as f:
    xml_str = f.read()

In [31]:
soup = BeautifulSoup(xml_str, 'xml')

In [32]:
soup

<?xml version="1.0" encoding="utf-8"?>
<data>
<country name="Liechtenstein">
<rank>1</rank>
<year>2008</year>
<gdppc>141100</gdppc>
<neighbor direction="E" name="Austria"/>
<neighbor direction="W" name="Switzerland"/>
</country>
<country name="Singapore">
<rank>4</rank>
<year>2011</year>
<gdppc>59900</gdppc>
<neighbor direction="N" name="Malaysia"/>
</country>
<country name="Panama">
<rank>68</rank>
<year>2011</year>
<gdppc>13600</gdppc>
<neighbor direction="W" name="Costa Rica"/>
<neighbor direction="E" name="Colombia"/>
</country>
</data>

In [33]:
target_list = soup.find_all('country')

In [34]:
# 테이블 구조로 변경 
result_list = []
for country in target_list:
    name = country['name']
    rank = country.rank.text
    year = country.year.text
    gdppc = country.gdppc.text
    # 리스트안의 튜플 (이웃나라이름, 방향)
    neighbor_list = country.find_all('neighbor')
    if neighbor_list:
        temp = []
        for neighbor in neighbor_list:
            temp.append((neighbor['name'], neighbor['direction']))
    else:
        temp = None
        
    result_list.append([name, rank, year, gdppc, temp])

In [36]:
print(result_list[0])
print()
print(result_list[1])
print()
print(result_list[-1])

['Liechtenstein', '1', '2008', '141100', [('Austria', 'E'), ('Switzerland', 'W')]]

['Singapore', '4', '2011', '59900', [('Malaysia', 'N')]]

['Panama', '68', '2011', '13600', [('Costa Rica', 'W'), ('Colombia', 'E')]]

In [29]:
df = pd.DataFrame(result_list, 
                  columns=['name', 'rank', 'year', 'gdppc', 'neighbor'])
df

            name rank  year   gdppc                          neighbor
0  Liechtenstein    1  2008  141100  [(Austria, E), (Switzerland, W)]
1      Singapore    4  2011   59900                   [(Malaysia, N)]
2         Panama   68  2011   13600  [(Costa Rica, W), (Colombia, E)]

# 기상청 - RSS 활용

In [37]:
# 0) 모듈 임포트 
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [39]:
# 1) 데이타 요청 
# 동네예보 요청 주소 
# https://www.weather.go.kr/w/pop/rss-guide.do?sido=2600000000&gugun=2641000000&dong=2641060000
# 부산광역시 금정구 장전1동 
url = 'http://www.kma.go.kr/wid/queryDFSRSS.jsp?zone=2641060000'
response = requests.get(url)
xml_str = response.text
# print(xml_str)

In [43]:
# 2) 숩객체화 
soup = BeautifulSoup(xml_str)
# print(soup)

In [45]:
# 3) 데이타 리스트화 
target_list = soup.find_all('data')
print(len(target_list))
print(target_list[0])

19
<data seq="0">
<hour>18</hour>
<day>0</day>
<temp>7.0</temp>
<tmx>-999.0</tmx>
<tmn>-999.0</tmn>
<sky>4</sky>
<pty>0</pty>
<wfkor>흐림</wfkor>
<wfen>Cloudy</wfen>
<pop>30</pop>
<r12>0.0</r12>
<s12>0.0</s12>
<ws>2.5</ws>
<wd>1</wd>
<wdkor>북동</wdkor>
<wden>NE</wden>
<reh>60</reh>
<r06>0.0</r06>
<s06>0.0</s06>
</data>

In [55]:
# 4) 데이타 가공 
# day (오늘 0 /내일 1 / 모레 2)
day_dict = {'0':'오늘', '1':'내일', '2':'모레'}
# day = target_list[0].day.text
day = day_dict[target_list[0].day.text]
hour = target_list[0].hour.text
temp = target_list[0].temp.text
# 하늘 상태 :  [맑음(1), 구름많음(3), 흐림(4)]
sky_dict = {'1':'맑음', '3':'구름많음', '4':'흐림'}
sky = sky_dict[target_list[0].sky.text]
pop = target_list[0].pop.text + '%'
print('날짜  시간 기온  하늘상태 강수확률')
print(day, hour, temp, sky, pop)

날짜  시간 기온  하늘상태 강수확률
오늘 18 7.0 흐림 30%

In [58]:
# 5) 2차원 데이타 
day_dict = {'0':'오늘', '1':'내일', '2':'모레'}
sky_dict = {'1':'맑음', '3':'구름많음', '4':'흐림'}
result_list = []
for target in target_list:
    day = day_dict[target.day.text]
    hour = target.hour.text
    temp = target.temp.text
    sky = sky_dict[target.sky.text]
    pop = target.pop.text + '%'
    result_list.append([day, hour, temp, sky, pop])

In [59]:
df = pd.DataFrame(result_list, 
                     columns=['날짜', '시간', '기온', '하늘상태', '강수량'])
df.head(10)

   날짜  시간    기온  하늘상태  강수량
0  오늘  18   7.0    흐림  30%
1  오늘  21   5.0  구름많음  20%
2  오늘  24   4.0    흐림  30%
3  내일   3   4.0    흐림  30%
4  내일   6   3.0    흐림  30%
5  내일   9   5.0  구름많음  20%
6  내일  12   9.0    맑음   0%
7  내일  15  10.0    맑음   0%
8  내일  18   7.0    맑음   0%
9  내일  21   5.0    맑음   0%