# Open API

## JSON 활용 

- 데이타 요청 request
- 문자열 => 파이썬 데이타(리스트안의 딕셔너리)

In [1]:
# 0) 관련 모듈 임포트 
import requests
import json 
import pandas as pd

In [5]:
# 1) json 데이타 요청 
# https://jsonplaceholder.typicode.com/users
url = 'https://jsonplaceholder.typicode.com/users'
res = requests.get(url)

# 2) 문자열 형태로 저장 
json_str = res.text
print(type(json_str))
# print(json_str)

<class 'str'>

In [ ]:
print(json_str[0])

In [9]:
# 3) 문자열 => 리스트 구조 (리스트안의 딕셔너리 )
user_list = json.loads(json_str)
print(type(user_list))
print(type(user_list[0]))
print(user_list[0])

<class 'list'>
<class 'dict'>
{'id': 1, 'name': 'Leanne Graham', 'username': 'Bret', 'email': 'Sincere@april.biz', 'address': {'street': 'Kulas Light', 'suite': 'Apt. 556', 'city': 'Gwenborough', 'zipcode': '92998-3874', 'geo': {'lat': '-37.3159', 'lng': '81.1496'}}, 'phone': '1-770-736-8031 x56442', 'website': 'hildegard.org', 'company': {'name': 'Romaguera-Crona', 'catchPhrase': 'Multi-layered client-server neural-net', 'bs': 'harness real-time e-markets'}}

In [12]:
print(user_list[0])

{'id': 1, 'name': 'Leanne Graham', 'username': 'Bret', 'email': 'Sincere@april.biz', 'address': {'street': 'Kulas Light', 'suite': 'Apt. 556', 'city': 'Gwenborough', 'zipcode': '92998-3874', 'geo': {'lat': '-37.3159', 'lng': '81.1496'}}, 'phone': '1-770-736-8031 x56442', 'website': 'hildegard.org', 'company': {'name': 'Romaguera-Crona', 'catchPhrase': 'Multi-layered client-server neural-net', 'bs': 'harness real-time e-markets'}}

In [19]:
# 4) 개별 회원 정보 출력 
print('id =>', user_list[0]['id'])
print('name =>', user_list[0]['name'])
print('address =>', user_list[0]['address'])
print('city =>', user_list[0]['address']['city'])
print('geo =>', user_list[0]['address']['geo'])
print('lat =>', user_list[0]['address']['geo']['lat'])
print('lng =>', user_list[0]['address']['geo']['lng'])

id => 1
name => Leanne Graham
address => {'street': 'Kulas Light', 'suite': 'Apt. 556', 'city': 'Gwenborough', 'zipcode': '92998-3874', 'geo': {'lat': '-37.3159', 'lng': '81.1496'}}
city => Gwenborough
geo => {'lat': '-37.3159', 'lng': '81.1496'}
lat => -37.3159
lng => 81.1496

In [24]:
# 5) 전체회원의 아이디, 이름, 도시 만 출력 
for user in user_list:
    print(f"id ={user['id']},name = {user['name']},city={user['address']['city']}")

id =1,name = Leanne Graham,city=Gwenborough
id =2,name = Ervin Howell,city=Wisokyburgh
id =3,name = Clementine Bauch,city=McKenziehaven
id =4,name = Patricia Lebsack,city=South Elvis
id =5,name = Chelsey Dietrich,city=Roscoeview
id =6,name = Mrs. Dennis Schulist,city=South Christy
id =7,name = Kurtis Weissnat,city=Howemouth
id =8,name = Nicholas Runolfsdottir V,city=Aliyaview
id =9,name = Glenna Reichert,city=Bartholomebury
id =10,name = Clementina DuBuque,city=Lebsackbury

In [25]:
# 6) 이름이 C 로 시작하는 회원의 아이디와 이름 출력 
for user in user_list:
    if user['name'][0] == 'C':
        print(f"id ={user['id']},name = {user['name']}")

id =3,name = Clementine Bauch
id =5,name = Chelsey Dietrich
id =10,name = Clementina DuBuque

In [28]:
# 7) 데이타프레임 구조로 변경하기 
# name, email, city, 회사명
result_list=[]
for user in user_list:
    name = user['name']
    email = user['email']
    city = user['address']['city']
    company_name = user['company']['name']
    result_list.append([name, email, city, company_name])

df = pd.DataFrame(result_list, 
                  columns=['name', 'email', 'city', 'company_name'])
df

,name,email,city,company_name
0,Leanne Graham,Sincere@april.biz,Gwenborough,Romaguera-Crona
1,Ervin Howell,Shanna@melissa.tv,Wisokyburgh,Deckow-Crist
2,Clementine Bauch,Nathan@yesenia.net,McKenziehaven,Romaguera-Jacobson
3,Patricia Lebsack,Julianne.OConner@kory.org,South Elvis,Robel-Corkery
4,Chelsey Dietrich,Lucio_Hettinger@annie.ca,Roscoeview,Keebler LLC
5,Mrs. Dennis Schulist,Karley_Dach@jasper.info,South Christy,Considine-Lockman
6,Kurtis Weissnat,Telly.Hoeger@billy.biz,Howemouth,Johns Group
7,Nicholas Runolfsdottir V,Sherwood@rosamond.me,Aliyaview,Abernathy Group
8,Glenna Reichert,Chaim_McDermott@dana.io,Bartholomebury,Yost and Sons
9,Clementina DuBuque,Rey.Padberg@karina.biz,Lebsackbury,Hoeger LLC

In [26]:
user_list[0]

{'id': 1,
 'name': 'Leanne Graham',
 'username': 'Bret',
 'email': 'Sincere@april.biz',
 'address': {'street': 'Kulas Light',
  'suite': 'Apt. 556',
  'city': 'Gwenborough',
  'zipcode': '92998-3874',
  'geo': {'lat': '-37.3159', 'lng': '81.1496'}},
 'phone': '1-770-736-8031 x56442',
 'website': 'hildegard.org',
 'company': {'name': 'Romaguera-Crona',
  'catchPhrase': 'Multi-layered client-server neural-net',
  'bs': 'harness real-time e-markets'}}

In [32]:
# 퀴즈) phone 이 '210.067.6132'인 회원은 누구인가?

In [31]:
for user in user_list:
    if user['phone'] == '210.067.6132':
        # print(user)
        print(f"id ={user['id']},name = {user['name']}")

id =7,name = Kurtis Weissnat

## 퀴즈

```
1) json 샘플 사이트를 이용하여 딕셔너리 리스트 형태로 변경하고 
첫번째 데이타만 출력하여라

https://jsonplaceholder.typicode.com/todos

2) 총 갯수는?
3) completed 키값이 true인 데이타만 출력하여라
4) id 가 100 인 데이타만 출력하여라 
5) id 가 10~19번인 데이타만 출력하여라 
6) 판다스의 데이타프레임으로 변경하여라
7) todos.csv 파일로 저장하여라 
```

In [34]:
# 1) json 데이타 요청 
url = 'https://jsonplaceholder.typicode.com/todos'
res = requests.get(url)

# 2) 문자열 형태로 저장 
json_str = res.text
print(type(json_str))

# 3) 문자열 => 리스트 구조 (리스트안의 딕셔너리 )
todos_list = json.loads(json_str)

# 4) 첫번째 데이타만 출력 
print(todos_list[0])

<class 'str'>
{'userId': 1, 'id': 1, 'title': 'delectus aut autem', 'completed': False}

### 2) 총 갯수는?

In [35]:
print(len(todos_list))

200

### 3) completed 키값이 true인 데이타만 출력하여라

In [41]:
count = 0
for todo in todos_list:
    if todo['completed']:
        pass
    else:
#         print(todo)
        count += 1

print(count)

110

### 4) id 가 100 인 데이타만 출력하여라

In [42]:
for todo in todos_list:
    if todo['id'] == 100:
        print(todo)

{'userId': 5, 'id': 100, 'title': 'excepturi a et neque qui expedita vel voluptate', 'completed': False}

### 5) id 가 10~19번인 데이타만 출력하여라

In [43]:
for todo in todos_list:
    if 10 <= todo['id'] <= 19:
        print(todo)

{'userId': 1, 'id': 10, 'title': 'illo est ratione doloremque quia maiores aut', 'completed': True}
{'userId': 1, 'id': 11, 'title': 'vero rerum temporibus dolor', 'completed': True}
{'userId': 1, 'id': 12, 'title': 'ipsa repellendus fugit nisi', 'completed': True}
{'userId': 1, 'id': 13, 'title': 'et doloremque nulla', 'completed': False}
{'userId': 1, 'id': 14, 'title': 'repellendus sunt dolores architecto voluptatum', 'completed': True}
{'userId': 1, 'id': 15, 'title': 'ab voluptatum amet voluptas', 'completed': True}
{'userId': 1, 'id': 16, 'title': 'accusamus eos facilis sint et aut voluptatem', 'completed': True}
{'userId': 1, 'id': 17, 'title': 'quo laboriosam deleniti aut qui', 'completed': True}
{'userId': 1, 'id': 18, 'title': 'dolorum est consequatur ea mollitia in culpa', 'completed': False}
{'userId': 1, 'id': 19, 'title': 'molestiae ipsa aut voluptatibus pariatur dolor nihil', 'completed': True}

### 6) 판다스의 데이타프레임으로 변경하여라

In [45]:
result_list=[]
for todo in todos_list:
    userId = todo['userId']
    id = todo['id']
    title = todo['title']
    completed = todo['completed']
    result_list.append([userId, id, title, completed])

df = pd.DataFrame(result_list, 
                  columns=['userId', 'id', 'title', 'completed'])
df

     userId   id                                              title  completed
0         1    1                                 delectus aut autem      False
1         1    2                 quis ut nam facilis et officia qui      False
2         1    3                                fugiat veniam minus      False
3         1    4                                   et porro tempora       True
4         1    5  laboriosam mollitia et enim quasi adipisci qui...      False
..      ...  ...                                                ...        ...
195      10  196                consequuntur aut ut fugit similique       True
196      10  197                  dignissimos quo nobis earum saepe       True
197      10  198                       quis eius est sint explicabo       True
198      10  199                       numquam repellendus a magnam       True
199      10  200                       ipsam aperiam voluptates qui      False

[200 rows x 4 columns]

### 7) todos.csv 파일로 저장하여라

In [47]:
df.to_csv('output/todos.csv', index=False)