# Review

- 웹사이트 데이타 수집 
    - requests + urllib => html 페이지 => 파싱(bs4) => 데이타가공 
    - selenium => html 페이지 => 파싱(bs4) => 데이타가공 
- Open API 
    - JSON, XML
    - API 서비스 신청 => requests + urllib  => 데이타가공 
    - NAVER API 검색 서비스

# NAVER API 검색 서비스

1) API 서비스 신청 : 네이버 아이디 보유 
   - https://developers.naver.com/main/
   - 네이버 로그인 
   - 애플리케이션 등록 : 검색 / web 으로 설정 
   - 클라이언트아이디와 시크릿키 정보 확인

In [ ]:
- 클라이언트아이디 : J78os7A0HOCZCrDxnwLy
- 시크릿키 : ZYoNiYyUrZ

### 2) 데이타 요청 => 파이썬 데이타 

- https://developers.naver.com/docs/serviceapi/search/blog/blog.md#python
- json => 파이썬 데이타

In [ ]:
# 네이버 블로그 
#  https://section.blog.naver.com

In [41]:
# 네이버 검색 API 예제 - 블로그 검색
import os
import sys
import urllib.request
# 발급받은 클라이언트아이디와 시크릿키를 문자열키로 지정
client_id = "J78os7A0HOCZCrDxnwLy"
client_secret = "ZYoNiYyUrZ"
# 샘플 키워드 설정 
encText = urllib.parse.quote("부산대맛집")
# url = "https://openapi.naver.com/v1/search/blog?query=" + encText # JSON 결과
# 20 개 요청
url = "https://openapi.naver.com/v1/search/blog?query=" + encText + "&display=20"  # JSON 결과
# url = "https://openapi.naver.com/v1/search/blog.xml?query=" + encText # XML 결과
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
response = urllib.request.urlopen(request)
rescode = response.getcode()
if(rescode==200):
    response_body = response.read()
    print(response_body.decode('utf-8'))
else:
    print("Error Code:" + rescode)

{
	"lastBuildDate":"Mon, 13 Feb 2023 10:45:46 +0900",
	"total":153769,
	"start":1,
	"display":20,
	"items":[
		{
			"title":"<b>부산대<\/b>알밥 ; TOBICO 토비코 @ <b>부산대<\/b> 점심 <b>맛집<\/b> 추천",
			"link":"https:\/\/blog.naver.com\/iii8972\/222993626926",
			"description":"MON - SAT \/ 11:30 ~ 21:00 #부산대점심추천 #부산대점메추 #<b>부산대맛집<\/b> 부산대 토비코가 알밥 맛집이라고 소문 나서 한 번 먹으러 갔습니다 ㅎㅎㅎ 그런데 알아보니까 다양하게 메뉴를 팔더라구요 ?! 카페 거리 쪽에서... ",
			"bloggername":"forthousandays",
			"bloggerlink":"blog.naver.com\/iii8972",
			"postdate":"20230125"
		},
		{
			"title":"<b>부산대<\/b> 파스타 <b>맛집<\/b> 핫플 될 파스타집이야",
			"link":"https:\/\/blog.naver.com\/coolestlove\/223012213888",
			"description":"분위기도 좋고 맛도 좋고 비주얼도 좋고 하이볼 한잔하기 좋은 파스타집이야 부산대점 얼른 가보세요~ #<b>부산대맛집<\/b> #부산대역맛집 #부산대파스타 #부산대밥집 #부산대점심 #부산대레스토랑 #부산대파스타맛집... ",
			"bloggername":"♥러블리썬♥여행하기 좋은 날♡",
			"bloggerlink":"blog.naver.com\/coolestlove",
			"postdate":"20230211"
		},
		{
			"title":"부산 장전동 <b>부산대맛집<\/b> # 부산코스요리맛집, 이플다이닝",
			"link":"https:\/\/blog.naver.com\/upupuplife\/222995072254",
			"description":"구서동에서 인기 많았던 이플다이닝이 부산대로 확장 이전하고는 늘 가 봐야지! 했는데 설 연휴 기간에 드디어 <b>부산대맛집<\/b>인 이플다이닝을 다녀 왔다 이플다이닝 런치 12:00-14:00 디너 19:00-21:00 예약은... ",
			"bloggername":"봄날의 소풍❤️",
			"bloggerlink":"blog.naver.com\/upupuplife",
			"postdate":"20230126"
		},
		{
			"title":"매니저가 맛있고 디저트가 친절한 <b>부산대 맛집<\/b>",
			"link":"https:\/\/blog.naver.com\/zzingzzing42\/222956673359",
			"description":"엊그제 부산대 다니는 친구랑 만나 놀다가 새로 생긴 <b>부산대 맛집<\/b>에 찾아가봤어요. 퀄리티 뛰어난 브런치와 음료를 골라 먹을 수 있어 다들 대만족했던 곳이에요. 1. 논피니토 부산대 금액- 스카치에그 7... ",
			"bloggername":"두 남자, 두 여자가 사는 집",
			"bloggerlink":"blog.naver.com\/zzingzzing42",
			"postdate":"20221215"
		},
		{
			"title":"금정구 <b>맛집<\/b>｜<b>부산대<\/b> 브런치, 분위기 좋은 쌀국수 전문점... ",
			"link":"https:\/\/blog.naver.com\/himawari_tw\/222979225508",
			"description":"금정구 맛집 찾으신다면 이번 포스팅 주목해주세요! #<b>부산대맛집<\/b> #부산대브런치 #포맨티코 포맨티코 11:30 ~ 21:00 (B.T 월요일 14:30~16:30) (B.T 화-금 15:00~16:30) 부산 금정구 장전로12번길 16 ***-****-**** 금정구 맛집을... ",
			"bloggername":"홍다이어리",
			"bloggerlink":"blog.naver.com\/himawari_tw",
			"postdate":"20230109"
		},
		{
			"title":"양산<b>부산대<\/b>병원<b>맛집<\/b> 눈꽃을나누다 모임 식당으로 제격",
			"link":"https:\/\/blog.naver.com\/judy8896\/223011456288",
			"description":"ㅎㅎ 얼마전에 남편이랑 같이 양산<b>부산대<\/b>병원 쪽에 볼일이 있어서 잠깐 갔었어요~ 마치고 나니까 밥 먹을 시간이길래 양산<b>부산대<\/b>병원<b>맛집<\/b>이 어디 있나 인터넷으로 검색해보게 되었어요 전화번호 0507-1494-0583... ",
			"bloggername":"새로운시작~",
			"bloggerlink":"blog.naver.com\/judy8896",
			"postdate":"20230210"
		},
		{
			"title":"<b>부산대 맛집<\/b> 포맨티코 레스토랑에서 쌀국수 꼭가세요",
			"link":"https:\/\/blog.naver.com\/velyvley0\/222988592704",
			"description":"맛있었던 맛집 후기! 부산대 레스토랑 포맨티코는 <b>부산대 맛집<\/b>으로 이미 유명하더라구요, SBS생방송 투데이 '맛의승부사' 방영맛집 이기도 함 근처에 가면 꼭 먹어봐야지 했는데 드디어 ㅠㅠㅠㅠ 먹으러... ",
			"bloggername":"비그링의 청춘블로그 :)",
			"bloggerlink":"blog.naver.com\/velyvley0",
			"postdate":"20230119"
		},
		{
			"title":"<b>부산대<\/b> 이자카야 장전동... 디귿 솔직 후기 내돈내산 하이볼 <b>맛집<\/b>",
			"link":"https:\/\/blog.naver.com\/eunji3231\/223012010162",
			"description":"[출처 : 네이버 지식백과] 부산대 이자카야 디귿에는 귀여운 고양이도 있어요  <b>부산대 맛집<\/b> 디귿 주소... 여긴 부산대 하이볼 맛집 답게 하이볼 종류가 굉장히 많았어요! 얼그레이 하이볼, 유즈 츄하이, 우메... ",
			"bloggername":"인쭈로그",
			"bloggerlink":"blog.naver.com\/eunji3231",
			"postdate":"20230210"
		},
		{
			"title":"<b>부산대<\/b> 버거 <b>맛집<\/b> 추천 버거스 올마이티 <b>부산대<\/b>점",
			"link":"https:\/\/blog.naver.com\/dudwn0218\/223012696443",
			"description":"오랜만에 <b>부산대 맛집<\/b> 탐방에 나선 우리. 사실 이전에 은근 맛집을 잘 찾아다니시는 우리 시어머니께서... 부산대 버거 맛집을 찾는다면 버거스 올마이티를 찾아 가 보는거 추천한다. *위 포스팅은 해당 업체로... ",
			"bloggername":"방랑쥬스의 세상방랑기~",
			"bloggerlink":"blog.naver.com\/dudwn0218",
			"postdate":"20230212"
		},
		{
			"title":"<b>부산대맛집<\/b> 스시심 스시오마카세",
			"link":"https:\/\/blog.naver.com\/imminjing\/222972065884",
			"description":"#스시심 #부산대스시심 #스시심오마카세 #스시오마카세 #오마카세 #오마카세맛집 #<b>부산대맛집<\/b> 스시심 영업시간 12:00~21:30 월요일 휴무 브레이크타임 14:50~17:00 전화번호 051-515-3088 2022년 마지막날 친구들이랑... ",
			"bloggername":"밍로그",
			"bloggerlink":"blog.naver.com\/imminjing",
			"postdate":"20230101"
		},
		{
			"title":"<b>부산대<\/b> 샤브샤브 <b>맛집<\/b> 챠오샤브 장전역점",
			"link":"https:\/\/blog.naver.com\/ansoeon\/223013578058",
			"description":"#부산대샤브샤브 #장전동맛집 #금정구맛집 #<b>부산대맛집<\/b> #샤브샤브맛집 오늘은 에킨이랑 데이뜨!! 나 요즘 머리속에서 십수년전 공부해놓은 일본어가 포맷수준으로 삭제되고 있어서 일어고수 에킨이... ",
			"bloggername":"취미부자 짠테커 집사",
			"bloggerlink":"blog.naver.com\/ansoeon",
			"postdate":"20230212"
		},
		{
			"title":"<b>부산대맛집<\/b> 리멘시타 맛도 분위기도 훈훈해",
			"link":"https:\/\/blog.naver.com\/830905\/223012877813",
			"description":"#<b>부산대맛집<\/b> #부산대가족외식 #부산대파스타 #화덕피자 #부산대분위기좋은곳 본 리뷰는 대한민국어디를 통해 업체에 일부 지원을 받아 솔직하게 작성 했습니다.",
			"bloggername":"언제나 봄♡",
			"bloggerlink":"blog.naver.com\/830905",
			"postdate":"20230211"
		},
		{
			"title":"금정구 <b>맛집<\/b> <b>부산대<\/b> 포맨티코 주차정보",
			"link":"https:\/\/blog.naver.com\/dpwls200\/222978125222",
			"description":"방영된 맛집이더군요!! 이미 부산대 학생들에게 굉장히 유명한 <b>부산대 맛집<\/b> 포맨티코인데.. 방송까지 탔다고 하니.. 이정도면 부산 놀러와서 꼭 방문해야 할 곳 중 하나 아니냐고요.. 금정구 맛집 부산대... ",
			"bloggername":"에디츄 (^˵◕ω◕˵^)",
			"bloggerlink":"blog.naver.com\/dpwls200",
			"postdate":"20230108"
		},
		{
			"title":"금정구 맛집 장전동 맛집 <b>부산대 맛집<\/b> 부산대 우동 맛집 부산대... ",
			"link":"https:\/\/blog.naver.com\/mwhcp33\/222959953395",
			"description":"오늘 소개해드릴 곳은 굉장히 독특한 우동을 파는 <b>부산대 맛집<\/b> 수타우동 쿠카이야 입니다. 예전에 TV로... 꽤 독특한 스타일의 우동이라 한번쯤 먹어보고 싶었는데 부산대 우동 맛집 쿠카이야에서 먹어볼 수... ",
			"bloggername":"라비앙로즈",
			"bloggerlink":"blog.naver.com\/mwhcp33",
			"postdate":"20221219"
		},
		{
			"title":"<b>부산대<\/b> 돈가스 <b>맛집<\/b> 톤쇼우 버크셔K로스카츠 후기",
			"link":"https:\/\/nohji.com\/4913",
			"description":"<b>부산대<\/b> 돈가스 <b>맛집<\/b>으로 유명한 톤쇼우의 버크셔K로스카츠는 확실히 독특한 향을 바탕으로 맛도 괜찮아서 꼭 한번 먹어볼 만한 돈가스였다고 생각한다. 톤쇼우 버크셔K로스카츠 가게에 앉은 다른 사람들은... ",
			"bloggername":"노지의 소박한 이야기",
			"bloggerlink":"https:\/\/nohji.com\/",
			"postdate":"20230203"
		},
		{
			"title":"<b>부산대맛집<\/b> 50년 경력의... 샤오바오 I 부산대 nc백화점 맛집",
			"link":"https:\/\/blog.naver.com\/y104cm\/222997173899",
			"description":"차 례 1.위치와 기본정보, 주차 2.매장 분위기, 인테리어 3.메뉴, 테이블 세팅 4.총평 1.위치와 기본정보, 주차 <b>부산대맛집<\/b>, 부산대nc백화점맛집 영업시간 11:00~22:00 중국 란주 50년 경력의 비법육수를 직접 전수... ",
			"bloggername":"적절한 쵸미의 맛따라 멋따라!",
			"bloggerlink":"blog.naver.com\/y104cm",
			"postdate":"20230128"
		},
		{
			"title":"<b>부산대맛집<\/b> 포케 샐러드바스켓",
			"link":"https:\/\/blog.naver.com\/asap_luv_k\/222968760792",
			"description":"#<b>부산대맛집<\/b> #부산대샐러드 #부산대브런치카페 #샐러드바스켓 #부산댜샐러드바스켓 #샐러드바스켓 요즘... 있는데 부산대포케맛집 샐러드바스켓은 이 부분을 충족시켜주더라구요 주문은 매대에서 직원분께 할... ",
			"bloggername":"완월&apos;s Day by Day",
			"bloggerlink":"blog.naver.com\/asap_luv_k",
			"postdate":"20221228"
		},
		{
			"title":"<b>부산대맛집<\/b> 마린파스타 내돈내산 찐 후기",
			"link":"https:\/\/blog.naver.com\/jsjlmw815\/222951993102",
			"description":"#<b>부산대맛집<\/b> #부산대파스타 #마린파스타 #<b>부산대맛집<\/b>추천 #부산대파스타맛집 안녕하세요! 신나는 주말- 오전부터 바삐 돌아다녀 봅니다ㅋㅋ 친구랑 주말에 분위기좀 내려고 맛집 알아보다가 부산대에 파스타... ",
			"bloggername":"어떤 하루",
			"bloggerlink":"blog.naver.com\/jsjlmw815",
			"postdate":"20221210"
		},
		{
			"title":"부산 <b>부산대<\/b> 고등어 소바 <b>맛집<\/b> 소바 타카이 (콩소바 메뉴 추가됨)",
			"link":"https:\/\/blog.naver.com\/kobe_d207\/222987931574",
			"description":"본 사람은 다들 믿으시겠지만 맛의 수준에 대해서는 걱정 안하셔도 될 겁니다 #부산, #<b>부산대<\/b>, #<b>맛집<\/b>, #스시심, #타카이, #스시심타카이, #고등어, #소바, #청어, #사바소바, #사바, #면, #국수, #단짠, #런치, #점심, #라멘",
			"bloggername":"KOBE D207",
			"bloggerlink":"blog.naver.com\/kobe_d207",
			"postdate":"20230118"
		},
		{
			"title":"볼거리도 넘치는 <b>부산대<\/b> 디저트 <b>맛집<\/b> 논피니토(w.온천장 브런치)",
			"link":"https:\/\/blog.naver.com\/relaxhoi\/222982317248",
			"description":"바로 브라우니가 이쁘게 담겨 나왔다 촉촉하게 잘 만들어져서 이처럼 베이커리도 괜찮은 온천장 브런치 집이라고 생각했다♥ #<b>부산대<\/b>디저트<b>맛집<\/b> #온천장브런치 #논피니토 본 포스팅은 업체로부터 소정의... ",
			"bloggername":"그 기억 어느 날",
			"bloggerlink":"blog.naver.com\/relaxhoi",
			"postdate":"20230112"
		}
	]
}

In [42]:
# json => 문자열 => 파이썬 데이타 (딕셔너리 => 리스트)
import json 

json_str = response_body.decode('utf-8')
print(type(json_str))
blog_dict = json.loads(json_str)
print(type(blog_dict))
# 실제 블로그 데이타를 키값으로 호출한후 저장 
blog_list = blog_dict['items']
print(type(blog_list), len(blog_list))
# print(blog_list[0])

<class 'str'>
<class 'dict'>
<class 'list'> 20

### 3) 테이블 구조 => 데이타프레임 => csv  파일로 저장

In [43]:
import pandas as pd

In [44]:
# 개별 블로그 데이타 1개
# <b>와 </b> 삭제 
title = blog_list[0]['title'].replace('<b>','').replace('</b>','')
link = blog_list[0]['link']
description = blog_list[0]['description'].replace('<b>','').replace('</b>','')
bloggername = blog_list[0]['bloggername']
postdate = blog_list[0]['postdate']
print('제목 : ', title)
print('블로그 페이지 :', link)
print('내용 :', description)
blog_list[0]
print('작성자 :', bloggername)
print('작성날짜 :', postdate)

제목 :  부산대알밥 ; TOBICO 토비코 @ 부산대 점심 맛집 추천
블로그 페이지 : https://blog.naver.com/iii8972/222993626926
내용 : MON - SAT / 11:30 ~ 21:00 #부산대점심추천 #부산대점메추 #부산대맛집 부산대 토비코가 알밥 맛집이라고 소문 나서 한 번 먹으러 갔습니다 ㅎㅎㅎ 그런데 알아보니까 다양하게 메뉴를 팔더라구요 ?! 카페 거리 쪽에서...
작성자 : forthousandays
작성날짜 : 20230125

In [56]:
# 테이블 구조 - 리스트안의 리스트
result_list = []
for blog in blog_list:
    title = blog['title'].replace('<b>','').replace('</b>','').replace('\u2764','').replace('\ufe0f','').replace('\u02f5','').replace('\u25d5','')
    link = blog['link'].replace('\u2764','').replace('\ufe0f','').replace('\u02f5','').replace('\u25d5','')
    description = blog['description'].replace('<b>','').replace('</b>','').replace('\u2764','').replace('\ufe0f','').replace('\u02f5','').replace('\u25d5','')
    bloggername = blog['bloggername'].replace('\u2764','').replace('\ufe0f','').replace('\u02f5','').replace('\u25d5','')
    postdate = blog['postdate'].replace('\u2764','').replace('\ufe0f','').replace('\u02f5','').replace('\u25d5','')    
    result_list.append([title, link, description, bloggername,postdate ])

In [57]:
print(len(result_list))

20

In [58]:
# 데이타프레임으로 변경 
df = pd.DataFrame(result_list, 
       columns = ['제목', '링크', '설명', '작성자', '작성날짜'])
# df

In [59]:
# csv 파일로 저장 
# df.to_csv('output/네이버블로그검색.csv', index=False)
df.to_csv('output/네이버블로그검색.csv', index=False, encoding='cp949')

In [60]:
df

,제목,링크,설명,작성자,작성날짜
0,부산대알밥 ; TOBICO 토비코 @ 부산대 점심 맛집 추천,https://blog.naver.com/iii8972/222993626926,MON - SAT / 11:30 ~ 21:00 #부산대점심추천 #부산대점메추 #부산...,forthousandays,20230125
1,부산대 파스타 맛집 핫플 될 파스타집이야,https://blog.naver.com/coolestlove/223012213888,분위기도 좋고 맛도 좋고 비주얼도 좋고 하이볼 한잔하기 좋은 파스타집이야 부산대점 ...,♥러블리썬♥여행하기 좋은 날♡,20230211
2,"부산 장전동 부산대맛집 # 부산코스요리맛집, 이플다이닝",https://blog.naver.com/upupuplife/222995072254,구서동에서 인기 많았던 이플다이닝이 부산대로 확장 이전하고는 늘 가 봐야지! 했는데...,봄날의 소풍,20230126
3,매니저가 맛있고 디저트가 친절한 부산대 맛집,https://blog.naver.com/zzingzzing42/222956673359,엊그제 부산대 다니는 친구랑 만나 놀다가 새로 생긴 부산대 맛집에 찾아가봤어요. 퀄...,"두 남자, 두 여자가 사는 집",20221215
4,"금정구 맛집｜부산대 브런치, 분위기 좋은 쌀국수 전문점...",https://blog.naver.com/himawari_tw/222979225508,금정구 맛집 찾으신다면 이번 포스팅 주목해주세요! #부산대맛집 #부산대브런치 #포맨...,홍다이어리,20230109
5,양산부산대병원맛집 눈꽃을나누다 모임 식당으로 제격,https://blog.naver.com/judy8896/223011456288,ㅎㅎ 얼마전에 남편이랑 같이 양산부산대병원 쪽에 볼일이 있어서 잠깐 갔었어요~ 마치...,새로운시작~,20230210
6,부산대 맛집 포맨티코 레스토랑에서 쌀국수 꼭가세요,https://blog.naver.com/velyvley0/222988592704,맛있었던 맛집 후기! 부산대 레스토랑 포맨티코는 부산대 맛집으로 이미 유명하더라구요...,비그링의 청춘블로그 :),20230119
7,부산대 이자카야 장전동... 디귿 솔직 후기 내돈내산 하이볼 맛집,https://blog.naver.com/eunji3231/223012010162,[출처 : 네이버 지식백과] 부산대 이자카야 디귿에는 귀여운 고양이도 있어요 부산...,인쭈로그,20230210
8,부산대 버거 맛집 추천 버거스 올마이티 부산대점,https://blog.naver.com/dudwn0218/223012696443,오랜만에 부산대 맛집 탐방에 나선 우리. 사실 이전에 은근 맛집을 잘 찾아다니시는 ...,방랑쥬스의 세상방랑기~,20230212
9,부산대맛집 스시심 스시오마카세,https://blog.naver.com/imminjing/222972065884,#스시심 #부산대스시심 #스시심오마카세 #스시오마카세 #오마카세 #오마카세맛집 #부...,밍로그,20230101
10,부산대 샤브샤브 맛집 챠오샤브 장전역점,https://blog.naver.com/ansoeon/223013578058,#부산대샤브샤브 #장전동맛집 #금정구맛집 #부산대맛집 #샤브샤브맛집 오늘은 에킨이랑...,취미부자 짠테커 집사,20230212
11,부산대맛집 리멘시타 맛도 분위기도 훈훈해,https://blog.naver.com/830905/223012877813,#부산대맛집 #부산대가족외식 #부산대파스타 #화덕피자 #부산대분위기좋은곳 본 리뷰는...,언제나 봄♡,20230211
12,금정구 맛집 부산대 포맨티코 주차정보,https://blog.naver.com/dpwls200/222978125222,방영된 맛집이더군요!! 이미 부산대 학생들에게 굉장히 유명한 부산대 맛집 포맨티코인...,에디츄 (^ω^),20230108
13,금정구 맛집 장전동 맛집 부산대 맛집 부산대 우동 맛집 부산대...,https://blog.naver.com/mwhcp33/222959953395,오늘 소개해드릴 곳은 굉장히 독특한 우동을 파는 부산대 맛집 수타우동 쿠카이야 입니...,라비앙로즈,20221219
14,부산대 돈가스 맛집 톤쇼우 버크셔K로스카츠 후기,https://nohji.com/4913,부산대 돈가스 맛집으로 유명한 톤쇼우의 버크셔K로스카츠는 확실히 독특한 향을 바탕으...,노지의 소박한 이야기,20230203
15,부산대맛집 50년 경력의... 샤오바오 I 부산대 nc백화점 맛집,https://blog.naver.com/y104cm/222997173899,"차 례 1.위치와 기본정보, 주차 2.매장 분위기, 인테리어 3.메뉴, 테이블 세팅...",적절한 쵸미의 맛따라 멋따라!,20230128
16,부산대맛집 포케 샐러드바스켓,https://blog.naver.com/asap_luv_k/222968760792,#부산대맛집 #부산대샐러드 #부산대브런치카페 #샐러드바스켓 #부산댜샐러드바스켓 #샐...,완월&apos;s Day by Day,20221228
17,부산대맛집 마린파스타 내돈내산 찐 후기,https://blog.naver.com/jsjlmw815/222951993102,#부산대맛집 #부산대파스타 #마린파스타 #부산대맛집추천 #부산대파스타맛집 안녕하세요...,어떤 하루,20221210
18,부산 부산대 고등어 소바 맛집 소바 타카이 (콩소바 메뉴 추가됨),https://blog.naver.com/kobe_d207/222987931574,"본 사람은 다들 믿으시겠지만 맛의 수준에 대해서는 걱정 안하셔도 될 겁니다 #부산,...",KOBE D207,20230118
19,볼거리도 넘치는 부산대 디저트 맛집 논피니토(w.온천장 브런치),https://blog.naver.com/relaxhoi/222982317248,바로 브라우니가 이쁘게 담겨 나왔다 촉촉하게 잘 만들어져서 이처럼 베이커리도 괜찮은...,그 기억 어느 날,20230112

# 네이버 지식인 검색 서비스 

- https://openapi.naver.com/v1/search/kin.json

In [62]:
# 0) 모듈 임포트 
import os
import sys
import urllib.request
import json
import pandas as pd

In [63]:
# 1) 지식인 검색 데이타 요청 
# 발급받은 클라이언트아이디와 시크릿키를 문자열키로 지정
client_id = "J78os7A0HOCZCrDxnwLy"
client_secret = "ZYoNiYyUrZ"
# 샘플 키워드 설정 
encText = urllib.parse.quote("부산대맛집")
# 지식인 주소 확인 : kin.json
# 20 개 요청
url = "https://openapi.naver.com/v1/search/kin.json?query=" + encText + "&display=20"  # JSON 결과
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
response = urllib.request.urlopen(request)
rescode = response.getcode()
if(rescode==200):
    response_body = response.read()
    print(response_body.decode('utf-8'))
else:
    print("Error Code:" + rescode)

{
	"lastBuildDate":"Mon, 13 Feb 2023 11:02:12 +0900",
	"total":1379,
	"start":1,
	"display":20,
	"items":[
		{
			"title":"<b>부산대맛집<\/b>추천 해주세요 ##",
			"link":"https:\/\/kin.naver.com\/qna\/detail.naver?d1id=12&dirId=120202&docId=210191462&qb=67aA7IKw64yA66eb7KeR&enc=utf8&section=kin.qna&rank=1&search_sort=0&spq=0",
			"description":"<b>부산대맛집<\/b>추천해주세요 : ) 부산대 밥집에서 친구들과 맛있는 음식 먹기로 했는데요. 유명한 <b>부산대 맛집<\/b> 추천해주세요~~!!  부산대 에브리타임에 있는 맛집 리스트래요~~ㅎㅎ 1. 레오 [부산 금정구 장전로20번길 22... "
		},
		{
			"title":"<b>부산대 맛집<\/b>",
			"link":"https:\/\/kin.naver.com\/qna\/detail.naver?d1id=12&dirId=120202&docId=419460869&qb=67aA7IKw64yA66eb7KeR&enc=utf8&section=kin.qna&rank=2&search_sort=0&spq=0",
			"description":"... 초6 둘이서 먹을거에요ㅛ 일인 6~8000원 정도에서 먹을수 있는 곳이영(조금 오바해도 괜춘) ㄲㅑ벌써 행보켐 제 아이디 들어가셔서 프로필 바로 오른쪽에 보시면 야식코너 있는데 제 블로그 보시면 <b>부산대<\/b>근처 <b>맛집<\/b>들 굉장히 많습니다. "
		},
		{
			"title":"<b>부산대 맛집<\/b>,놀거리 추천해주세요!!",
			"link":"https:\/\/kin.naver.com\/qna\/detail.naver?d1id=12&dirId=120202&docId=393673407&qb=67aA7IKw64yA66eb7KeR&enc=utf8&section=kin.qna&rank=3&search_sort=0&spq=0",
			"description":"고등학생 친구와 <b>부산대<\/b>에서 영화보고 나서 <b>맛집<\/b>이랑 재밌게 놀고싶은데 놀만한곳 알려주시면 감사하겠습니다.  <b>부산대<\/b>는 육류 <b>맛집<\/b>이 많습니다. 아래를 참조하여 스타일에 맞는곳을 선택해보세요 즐거운 여행 되시기 바랍니다"
		},
		{
			"title":"<b>부산대 맛집<\/b> 추천 !!",
			"link":"https:\/\/kin.naver.com\/qna\/detail.naver?d1id=12&dirId=120202&docId=393870225&qb=67aA7IKw64yA66eb7KeR&enc=utf8&section=kin.qna&rank=4&search_sort=0&spq=0",
			"description":"<b>부산대 맛집<\/b> 추천 !! -룸식(따로 방으로 되있는 곳) -너무 가볍거나 너무 무겁지 않은 메뉴 -가격 부담스럽지 않은 곳 -너무 구석에 있거나 길 찾기 어려운 곳 X 추천해주세용 수림식당이요!! 그외에도 부산대 놀거리 찾고 싶으면... "
		},
		{
			"title":"<b>부산대 맛집<\/b> 놀거리",
			"link":"https:\/\/kin.naver.com\/qna\/detail.naver?d1id=12&dirId=12020411&docId=393647878&qb=67aA7IKw64yA66eb7KeR&enc=utf8&section=kin.qna&rank=5&search_sort=0&spq=0",
			"description":"... <b>부산대 맛집<\/b> 2. 부산대 더 플로라 사라졌나요? 3. 부산대 놀거리 4. 부산대 사람 많나용,,,,? 다 안해주셔도 되는데... 해주시면 바로 채택 갑니다! 토비코 추천드려요 네 없어졌어용 만화카페 티앤북스 추천드려용 방탈출 더락이스케이프... "
		},
		{
			"title":"<b>부산대 맛집<\/b>",
			"link":"https:\/\/kin.naver.com\/qna\/detail.naver?d1id=12&dirId=120202&docId=334198459&qb=67aA7IKw64yA66eb7KeR&enc=utf8&section=kin.qna&rank=6&search_sort=0&spq=0",
			"description":"중학생인데요 <b>부산대<\/b>에 데이트를 가는데요 <b>맛집<\/b> 추천 부탁드려용~ 내공 300 <b>부산대<\/b> 근처사는 사람입니다. 자세한 건 상호 검색해보시고 간략하게만 적어드리겠습니다. 빈스에스프레소 - 유일하게 <b>부산대<\/b>에서 커피로스팅 기계가 있습니다.... "
		},
		{
			"title":"<b>부산대맛집<\/b>추천 가볼만한곳 !",
			"link":"https:\/\/kin.naver.com\/qna\/detail.naver?d1id=8&dirId=80208&docId=207078587&qb=67aA7IKw64yA66eb7KeR&enc=utf8&section=kin.qna&rank=7&search_sort=0&spq=0",
			"description":"친구가 부산대다니는데 <b>부산대맛집<\/b> 가볼만한곳 어디있을까요 ㅋ 근처 맛집 알려주세요 ㅋㅋ  안녕하세요 부산대에 맛집 은근히 많아요 숨겨진데도 많고!! 우선 뉴숯불통닭 이라고 치킨전문점인데 치킨은 진리죠.... 여기는 프렌차이즈... "
		},
		{
			"title":"서면,<b>부산대 맛집<\/b>.",
			"link":"https:\/\/kin.naver.com\/qna\/detail.naver?d1id=8&dirId=80208&docId=30447910&qb=67aA7IKw64yA66eb7KeR&enc=utf8&section=kin.qna&rank=8&search_sort=0&spq=0",
			"description":"... MBC에서 <b>부산대맛집<\/b>편으로 나왔는데,,, 참 좋은 곳이죠. 사장님 젊고 친절하죠. 부산대학교 앞에서 국내산 고기를 쓰는 보기 드문 집입니다. 골목에 있어서 손님들이 북적이는 시간대가 천차만별입니다. 바쁠때는 자리가 없구요... "
		},
		{
			"title":"<b>부산대맛집<\/b> 중에 괜찮은 집.. 특히 알밥집으로..",
			"link":"https:\/\/kin.naver.com\/qna\/detail.naver?d1id=8&dirId=8020110&docId=31944135&qb=67aA7IKw64yA66eb7KeR&enc=utf8&section=kin.qna&rank=9&search_sort=0&spq=0",
			"description":"... 알밥 전문점은 잘 모르겠구요. 부산대학교 앞에 음식점인데, 알밥 합니다. 맛도 좋구요. 가격도 저렴합니다. 여긴 <b>부산대맛집<\/b>으로도 유명하거든요. 닭다리살숯불구이가 주메뉴구요. 낮부터 장사합니다. 찾기 어려우니까 약도 잘 보세요~ "
		},
		{
			"title":"<b>부산대맛집<\/b> 중에 믿을수 있는 음식점",
			"link":"https:\/\/kin.naver.com\/qna\/detail.naver?d1id=8&dirId=80208&docId=31892829&qb=67aA7IKw64yA66eb7KeR&enc=utf8&section=kin.qna&rank=10&search_sort=0&spq=0",
			"description":"<b>부산대<\/b> 주변에서 자주 노는데요, 요새 수입때문에 불안해서요.. 부대앞은... <b>부산대<\/b>학교 앞에서 유명한 음식점 &quot;써꺼써꺼&quot; 위 메뉴는 닭다리살을 숯불에... <b>부산대<\/b> 앞에서 국내산 고기 쓴다고 붙어준 음식점. 써꺼써꺼 추천이요~ 513-8292 "
		},
		{
			"title":"<b>부산대 맛집<\/b>좀 가르쳐주세용",
			"link":"https:\/\/kin.naver.com\/qna\/detail.naver?d1id=8&dirId=80208&docId=266723359&qb=67aA7IKw64yA66eb7KeR&enc=utf8&section=kin.qna&rank=11&search_sort=0&spq=0",
			"description":"<b>부산대 맛집<\/b>좀 가르쳐주세용 부산대학교 근처 맛집이면 고깃집을 선택해야 하며 무한리필이 적용된 업소들을 물색하면 됩니다. 그래야 고르는데 큰 무리는 없으니 참고하세요. "
		},
		{
			"title":"<b>부산대 맛집<\/b> 싼곳",
			"link":"https:\/\/kin.naver.com\/qna\/detail.naver?d1id=12&dirId=12020411&docId=365180099&qb=67aA7IKw64yA66eb7KeR&enc=utf8&section=kin.qna&rank=12&search_sort=0&spq=0",
			"description":"없나여 둘이서 갈 건데 떡볶이 집 말고 <b>부산대<\/b>에 싸고 맛있는 곳 어디 없나여  nc백화점 쪽으로 올라가셔서 토스트 파는 골목 끝까지 쭉 가셔서 코너 꺾는곳에 마라탕집이 있는데 정말 맛있습니다"
		},
		{
			"title":"[내공100] <b>부산대 맛집<\/b> 추천 받습니다!!",
			"link":"https:\/\/kin.naver.com\/qna\/detail.naver?d1id=8&dirId=80208&docId=168146104&qb=67aA7IKw64yA66eb7KeR&enc=utf8&section=kin.qna&rank=13&search_sort=0&spq=0",
			"description":"제목 그대로 <b>부산대 맛집<\/b> 추천 받습니다!! 소개팅 장소로 괜찮은 곳으로 부탁드릴께요!! 내공 100겁니다!! 제가 저희가게를 올리는거라 좀 그렇긴한데요 소개팅하기엔 특별한 컨셉이 있는 장소라 염치불구하고 글씁니다 비움이라는... "
		},
		{
			"title":"<b>부산대<\/b> 저렴한 <b>맛집<\/b>",
			"link":"https:\/\/kin.naver.com\/qna\/detail.naver?d1id=8&dirId=80208&docId=203135839&qb=67aA7IKw64yA66eb7KeR&enc=utf8&section=kin.qna&rank=14&search_sort=0&spq=0",
			"description":"... 학교앞에라 <b>부산대<\/b> 앞에 음식점들은 가격이 싸고 <b>맛집<\/b>들이 많거든요~ 혹시 다른 저렴한집 원하시면 식신 이라는 어플로 사용해보세요~ 요즘 뜨고 있는 <b>맛집<\/b>어플인데 <b>맛집<\/b>들이 엄청 많아서 찾기도 편하고 그리고 전화번호나, 주소... "
		},
		{
			"title":"<b>부산대 맛집<\/b> 싸고 맛잇는 밥종류 맛집추천좀요",
			"link":"https:\/\/kin.naver.com\/qna\/detail.naver?d1id=12&dirId=120202&docId=173213750&qb=67aA7IKw64yA66eb7KeR&enc=utf8&section=kin.qna&rank=15&search_sort=0&spq=0",
			"description":"<b>부산대<\/b>에서 4명에서 저녁에 밥먹을껀대 밀가루음식말고 쌀음식 맛잇는 <b>맛집<\/b>좀 추천좀해주세용ㅜ 가격도 좀 저렴한걸로..!  <b>부산대<\/b> 북문쪽에 맛촌식당이라는 곳이 있어요. 닭갈비 유명하고요 가격은 4500원! 찌개같은건 3000원~3500원... "
		},
		{
			"title":"2월 25일방송-MBC 맛7에소개된 <b>부산대맛집<\/b>",
			"link":"https:\/\/kin.naver.com\/qna\/detail.naver?d1id=8&dirId=80208&docId=29788792&qb=67aA7IKw64yA66eb7KeR&enc=utf8&section=kin.qna&rank=16&search_sort=0&spq=0",
			"description":"2006년 2월 25일 MBC 찾아라 맛있는 TV에 소개된 대학가 맛7에 <b>부산대<\/b>편을 봤는데요.. 어제 쉬는날이라 남자친구랑... <b>부산대<\/b> 다니시는 분들이나..이 집을 아시는분은 꼭 좀 알려주세요... 꼭 먹어보고 싶어요~ 거기는요~ <b>부산대<\/b> 버거킹... "
		},
		{
			"title":"<b>부산대맛집<\/b>",
			"link":"https:\/\/kin.naver.com\/qna\/detail.naver?d1id=8&dirId=80208&docId=32032374&qb=67aA7IKw64yA66eb7KeR&enc=utf8&section=kin.qna&rank=17&search_sort=0&spq=0",
			"description":"... 사람별로없고조용한곳으루^^ 학생인데 술먹어도 될만한곳 그외에 <b>맛집<\/b>추천이요 (위치좀자세히약도첨부해주시면감사하구요^^그리고 가격두요) 1)위치 : <b>부산대<\/b>학교 정문 등치고 아래와 내려오면 오션타워라고 부르던데.. 아뭏튼... "
		},
		{
			"title":"<b>부산대 맛집<\/b> 이름이 기억이 안나네요",
			"link":"https:\/\/kin.naver.com\/qna\/detail.naver?d1id=8&dirId=80208&docId=381257074&qb=67aA7IKw64yA66eb7KeR&enc=utf8&section=kin.qna&rank=18&search_sort=0&spq=0",
			"description":"주먹밥이랑 라면집이었던 것 같은데 알려주세요  김밥천국"
		},
		{
			"title":"<b>부산대 맛집<\/b>",
			"link":"https:\/\/kin.naver.com\/qna\/detail.naver?d1id=13&dirId=130107&docId=248618223&qb=67aA7IKw64yA66eb7KeR&enc=utf8&section=kin.qna&rank=19&search_sort=0&spq=0",
			"description":"... 저렴하고 친구들끼리 갈만한데 추천 부탁드려요. 되도록이면 빨리요..(지식in처음이라 내공이 없네요.) <b>부산대<\/b>보다는 서면을가시거나 해운대가 더 놀기좋으실꺼에요!감천도 친구들과 사진찍기 좋구요~ "
		},
		{
			"title":"<b>부산대 맛집<\/b> 어디인가요",
			"link":"https:\/\/kin.naver.com\/qna\/detail.naver?d1id=12&dirId=12020411&docId=386066225&qb=67aA7IKw64yA66eb7KeR&enc=utf8&section=kin.qna&rank=20&search_sort=0&spq=0",
			"description":"<b>부산대 맛집<\/b> 어디인가요  안녕하세요! 부산대에서 데이트 하기 좋은 맛집 추천해드리려구 해요 카츠안 [부산 금정구 금정로 59-8 1층] https:\/\/www.dongnehotple.com\/bbs\/board.php?bo_table=0201&amp;wr_id=170&amp;page=1... "
		}
	]
}

In [64]:
# 2) json => 문자열 => 파이썬 데이타 (딕셔너리 => 리스트)
import json 

json_str = response_body.decode('utf-8')
print(type(json_str))
kin_dict = json.loads(json_str)
print(type(kin_dict))
# 실제 블로그 데이타를 키값으로 호출한후 저장 
kin_list = kin_dict['items']
print(type(kin_list), len(kin_list))
print(kin_list[0])

<class 'str'>
<class 'dict'>
<class 'list'> 20
{'title': '<b>부산대맛집</b>추천 해주세요 ##', 'link': 'https://kin.naver.com/qna/detail.naver?d1id=12&dirId=120202&docId=210191462&qb=67aA7IKw64yA66eb7KeR&enc=utf8&section=kin.qna&rank=1&search_sort=0&spq=0', 'description': '<b>부산대맛집</b>추천해주세요 : ) 부산대 밥집에서 친구들과 맛있는 음식 먹기로 했는데요. 유명한 <b>부산대 맛집</b> 추천해주세요~~!!  부산대 에브리타임에 있는 맛집 리스트래요~~ㅎㅎ 1. 레오 [부산 금정구 장전로20번길 22... '}

In [ ]:
# 3) 테이블 구조 => 데이타프레임 => csv 파일로 저장

In [65]:
# 개별 지식인 검색 결과 데이타 1개
# <b>와 </b> 삭제 
title = kin_list[0]['title'].replace('<b>','').replace('</b>','')
link = kin_list[0]['link']
description = kin_list[0]['description'].replace('<b>','').replace('</b>','')
print('제목 : ', title)
print('페이지 :', link)
print('내용 :', description)

제목 :  부산대맛집추천 해주세요 ##
페이지 : https://kin.naver.com/qna/detail.naver?d1id=12&dirId=120202&docId=210191462&qb=67aA7IKw64yA66eb7KeR&enc=utf8&section=kin.qna&rank=1&search_sort=0&spq=0
내용 : 부산대맛집추천해주세요 : ) 부산대 밥집에서 친구들과 맛있는 음식 먹기로 했는데요. 유명한 부산대 맛집 추천해주세요~~!!  부산대 에브리타임에 있는 맛집 리스트래요~~ㅎㅎ 1. 레오 [부산 금정구 장전로20번길 22...

In [66]:
# 테이블 구조 - 리스트안의 리스트
result_list = []
for kin in kin_list:
    title = kin['title'].replace('<b>','').replace('</b>','')
    link = kin['link']
    description = kin['description'].replace('<b>','').replace('</b>','')
    result_list.append([title, link, description])

In [69]:
# 데이타프레임으로 변경 
df = pd.DataFrame(result_list, 
       columns = ['제목', '링크', '설명'])
df.head(2)

,제목,링크,설명
0,부산대맛집추천 해주세요 ##,https://kin.naver.com/qna/detail.naver?d1id=12...,부산대맛집추천해주세요 : ) 부산대 밥집에서 친구들과 맛있는 음식 먹기로 했는데요....
1,부산대 맛집,https://kin.naver.com/qna/detail.naver?d1id=12...,... 초6 둘이서 먹을거에요ㅛ 일인 6~8000원 정도에서 먹을수 있는 곳이영(조...

In [70]:
# csv 파일로 저장 
df.to_csv('output/네이버지식인검색.csv', index=False, encoding='cp949')

# 공공데이타 포탈 이용하기 

- 회원 가입 
    - https://www.data.go.kr/ 
- open API 서비스 신청 
    - 1) 미세먼지 : https://www.data.go.kr/tcs/dss/selectApiDataDetailView.do?publicDataPk=15016368
    - 2) 고속도로 휴게소별 날씨 정보
    https://www.data.go.kr/data/15076661/openapi.do
    - 3) 부산광역시_부산명소정보 서비스
    https://www.data.go.kr/data/15063481/openapi.do

# 미세먼지 OpenAPI 

- 키1 Yhq6n9vlpaKZsCOw0jec8zIdZ8p%2BBpuku6WLjVgDhqXRW6dHnfXoauSEj19jpnjv59CUGspyTxVCgCeXOua7dg%3D%3D

- 키2 
Yhq6n9vlpaKZsCOw0jec8zIdZ8p+Bpuku6WLjVgDhqXRW6dHnfXoauSEj19jpnjv59CUGspyTxVCgCeXOua7dg==

In [83]:
# 0) 모듈 임포트 

import requests, json
import pandas as pd

In [92]:
# 1) 데이타 요청 

# 서비스키 변수 설정 
myKey = "Yhq6n9vlpaKZsCOw0jec8zIdZ8p+Bpuku6WLjVgDhqXRW6dHnfXoauSEj19jpnjv59CUGspyTxVCgCeXOua7dg=="

url = 'http://apis.data.go.kr/1480523/MetalMeasuringResultService/MetalService'
params ={'serviceKey' : myKey, # 키변수값으로변경
         'pageNo' : '1', 
         'numOfRows' : '10', 
         'resultType' : 'JSON', # 데이타타입
         'date' : '20230101', # 날짜
         'stationcode' : '5', # 수도권 1, 제주권 5
         'itemcode' : '90303',  # 납 90303 칼슘 90319
         'timecode' : 'RH02' } # RH02, RH24

response = requests.get(url, params=params)
# print(response.content)
print(response.text)
print(response)

{"MetalService":{"header":{"code":"00","message":"NORMAL SERVICE"},"item":[{"SDATE":"20230101000000","STATIONCODE":5,"ITEMCODE":"90303","TIMECODE":"RH02","VALUE":5.2445},{"SDATE":"20230101020000","STATIONCODE":5,"ITEMCODE":"90303","TIMECODE":"RH02","VALUE":6.7888},{"SDATE":"20230101040000","STATIONCODE":5,"ITEMCODE":"90303","TIMECODE":"RH02","VALUE":8.7481},{"SDATE":"20230101060000","STATIONCODE":5,"ITEMCODE":"90303","TIMECODE":"RH02","VALUE":11.7812},{"SDATE":"20230101080000","STATIONCODE":5,"ITEMCODE":"90303","TIMECODE":"RH02","VALUE":15.4983},{"SDATE":"20230101100000","STATIONCODE":5,"ITEMCODE":"90303","TIMECODE":"RH02","VALUE":18.3682},{"SDATE":"20230101120000","STATIONCODE":5,"ITEMCODE":"90303","TIMECODE":"RH02","VALUE":16.7008},{"SDATE":"20230101140000","STATIONCODE":5,"ITEMCODE":"90303","TIMECODE":"RH02","VALUE":20.3315},{"SDATE":"20230101160000","STATIONCODE":5,"ITEMCODE":"90303","TIMECODE":"RH02","VALUE":22.9642},{"SDATE":"20230101180000","STATIONCODE":5,"ITEMCODE":"90303","TIMECODE":"RH02","VALUE":26.5653}],"rows":null,"numOfRows":10,"pageNo":1,"totalCount":12}}
<Response [200]>

In [96]:
# 2) 문자열 데이타 => 파이썬 데이타 

dust_str = response.text
print(type(dust_str))
dust = json.loads(dust_str)
print(type(dust))
dust_list = dust['MetalService']['item']
print(type(dust_list))
dust_list

<class 'str'>
<class 'dict'>
<class 'list'>

[{'SDATE': '20230101000000',
  'STATIONCODE': 5,
  'ITEMCODE': '90303',
  'TIMECODE': 'RH02',
  'VALUE': 5.2445},
 {'SDATE': '20230101020000',
  'STATIONCODE': 5,
  'ITEMCODE': '90303',
  'TIMECODE': 'RH02',
  'VALUE': 6.7888},
 {'SDATE': '20230101040000',
  'STATIONCODE': 5,
  'ITEMCODE': '90303',
  'TIMECODE': 'RH02',
  'VALUE': 8.7481},
 {'SDATE': '20230101060000',
  'STATIONCODE': 5,
  'ITEMCODE': '90303',
  'TIMECODE': 'RH02',
  'VALUE': 11.7812},
 {'SDATE': '20230101080000',
  'STATIONCODE': 5,
  'ITEMCODE': '90303',
  'TIMECODE': 'RH02',
  'VALUE': 15.4983},
 {'SDATE': '20230101100000',
  'STATIONCODE': 5,
  'ITEMCODE': '90303',
  'TIMECODE': 'RH02',
  'VALUE': 18.3682},
 {'SDATE': '20230101120000',
  'STATIONCODE': 5,
  'ITEMCODE': '90303',
  'TIMECODE': 'RH02',
  'VALUE': 16.7008},
 {'SDATE': '20230101140000',
  'STATIONCODE': 5,
  'ITEMCODE': '90303',
  'TIMECODE': 'RH02',
  'VALUE': 20.3315},
 {'SDATE': '20230101160000',
  'STATIONCODE': 5,
  'ITEMCODE': '90303',
  'TIMECODE': 'RH02',
  'VALUE': 22.9642},
 {'SDATE': '20230101180000',
  'STATIONCODE': 5,
  'ITEMCODE': '90303',
  'TIMECODE': 'RH02',
  'VALUE': 26.5653}]

In [97]:
# 3) 데이타프레임 1
# pd.DataFrame(2차원리스트|딕셔너리리스트)
# 딕셔너리리스트인 경우에는 키가 컬럼명으로 자동변경됨 
df = pd.DataFrame(dust_list)
df

            SDATE  STATIONCODE ITEMCODE TIMECODE    VALUE
0  20230101000000            5    90303     RH02   5.2445
1  20230101020000            5    90303     RH02   6.7888
2  20230101040000            5    90303     RH02   8.7481
3  20230101060000            5    90303     RH02  11.7812
4  20230101080000            5    90303     RH02  15.4983
5  20230101100000            5    90303     RH02  18.3682
6  20230101120000            5    90303     RH02  16.7008
7  20230101140000            5    90303     RH02  20.3315
8  20230101160000            5    90303     RH02  22.9642
9  20230101180000            5    90303     RH02  26.5653

In [100]:
# 3) 데이타프레임 2 
# 2차원 테이블구조 
result_list = []
for item in dust_list:
    result_list.append([item['SDATE'], '제주권', item['VALUE']])
result_list[0]

['20230101000000', '제주권', 5.2445]

In [101]:
df = pd.DataFrame(result_list, 
                  columns=['날짜시간', '대기환경연구소', '측정수치'])
df

             날짜시간 대기환경연구소     측정수치
0  20230101000000     제주권   5.2445
1  20230101020000     제주권   6.7888
2  20230101040000     제주권   8.7481
3  20230101060000     제주권  11.7812
4  20230101080000     제주권  15.4983
5  20230101100000     제주권  18.3682
6  20230101120000     제주권  16.7008
7  20230101140000     제주권  20.3315
8  20230101160000     제주권  22.9642
9  20230101180000     제주권  26.5653

In [99]:
dust_list[0]

{'SDATE': '20230101000000',
 'STATIONCODE': 5,
 'ITEMCODE': '90303',
 'TIMECODE': 'RH02',
 'VALUE': 5.2445}

### 전체 측정소 데이타

In [136]:
# 1) 데이타 요청 

# 서비스키 변수 설정 
myKey = "Yhq6n9vlpaKZsCOw0jec8zIdZ8p+Bpuku6WLjVgDhqXRW6dHnfXoauSEj19jpnjv59CUGspyTxVCgCeXOua7dg=="
url = 'http://apis.data.go.kr/1480523/MetalMeasuringResultService/MetalService'

# 리스트 초기화 
dust_list = []

for i in range(1,11):
    params ={'serviceKey' : myKey, # 키변수값으로변경
             'pageNo' : '1', 
             'numOfRows' : '12', 
             'resultType' : 'JSON', # 데이타타입
             'date' : '20230101', # 날짜
             'stationcode' : str(i), # 문자열로 변경 '1'~'10'
             'itemcode' : '90303',  # 납 90303 칼슘 90319
             'timecode' : 'RH02' } # RH02, RH24

    print(i, end=' ')
    try:
        response = requests.get(url, params=params)    
        dust = json.loads(response.text)
        dust_list += dust['MetalService']['item']
    except:
        pass

1 2 3 4 5 6 7 8 9 10

In [137]:
print(len(dust_list))

96

In [138]:
# 2) 데이타프레임 - 2차원 테이블구조 
# station 측정소 코드 딕셔너리 선언 
station = {
    '1':'수도권', '2': '백령도',
    '3':'호남권', '4':'중부권',
    '5':'제주권', '6':'영남권',
    '7':'경기권','8':'충청권',
    '9':'전북권','10':'강원권'
}
print(dust_list[0]['STATIONCODE'])
print(station[str(dust_list[0]['STATIONCODE'])])

1
수도권

In [139]:
result_list = []
for item in dust_list:
    temp = station[str(item['STATIONCODE'])]
    result_list.append([item['SDATE'], temp, item['VALUE']])

In [142]:
df = pd.DataFrame(result_list, 
                  columns=['날짜시간', '대기환경연구소', '측정수치'])
df.to_csv('output/미세먼지.csv', 
          index=False, 
          encoding='cp949' )
df.head(15)

              날짜시간 대기환경연구소  측정수치
0   20230101000000     수도권 30.70
1   20230101020000     수도권 27.88
2   20230101040000     수도권 18.42
3   20230101060000     수도권 27.65
4   20230101080000     수도권 36.48
5   20230101100000     수도권 49.85
6   20230101120000     수도권 49.03
7   20230101140000     수도권 45.86
8   20230101160000     수도권 25.84
9   20230101180000     수도권 11.63
10  20230101200000     수도권 18.78
11  20230101220000     수도권 26.21
12  20230101000000     백령도 17.88
13  20230101020000     백령도 20.99
14  20230101040000     백령도 24.30

# 퀴즈 : 고속도로 휴게소별 날씨 정보

- 1) 서비스키 신청 
    - https://data.ex.co.kr/openapi/apikey/requestKey
    - 인증키 : 1098728928
- 2) 명세서 확인 
    - http://data.ex.co.kr/openapi/basicinfo/openApiInfoM?apiId=0508&pn=-1
    - [예제 실행하기]
    - url 받기 
        : http://data.ex.co.kr/openapi/restinfo/restWeatherList?key=1098728928&type=json&sdate=20180101&stdHour=10

In [146]:
# 1) 데이타 요청 
# 2023년 12월 12일 
url = 'http://data.ex.co.kr/openapi/restinfo/restWeatherList?key=1098728928&type=json&sdate=20230212&stdHour=10'
response = requests.get(url)
print(response)
# print(response.text)

<Response [200]>

In [150]:
# 2) 파이썬 데이타로 변경 
weather = json.loads(response.text)
# print(weather)
weather_list = weather['list']
print(len(weather_list))
print(weather_list[0])
print()
print(weather_list[-1])

187
{'unitName': '죽전휴게소', 'unitCode': '002 ', 'routeName': '경부선', 'routeNo': '0010', 'stdHour': '10', 'updownTypeCode': 'E', 'xValue': '127.104165', 'yValue': '37.332651', 'sdate': '20230212', 'snowValue': '-99.000000', 'addr': '경기도 용인시 수지구 풍덕천동 42-1', 'tmxValue': '209231.370200', 'tmyValue': '525935.874890', 'measurement': '연천', 'addrCode': '119', 'addrName': '수원', 'weatherContents': '박무', 'statusNo': '10.000000', 'correctNo': '4.280000', 'cloudValue': '9.000000', 'addcloudValue': '6.000000', 'cloudformValue': '-99.000000', 'tempValue': '0.400000', 'dewValue': '-1.000000', 'discomforeValue': '-99.00', 'sensoryTemp': '-99.000000', 'highestTemp': '-99.00', 'highestyearTemp': '-99.00', 'highestcompTemp': '-99.000000', 'lowestTemp': '-99.000000', 'lowestyearTemp': '-99.000000', 'lowestcompTemp': '-99.000000', 'rainfallValue': '-99.000000', 'rainfallstrengthValue': '-99.000000', 'newsnowValue': '-99.000000', 'humidityValue': '90.000000', 'windContents': '14', 'windValue': '1.200000'}

{'unitName': '현풍휴게소(현풍)', 'unitCode': '090 ', 'routeName': '중부내륙지선', 'routeNo': '4510', 'stdHour': '10', 'updownTypeCode': 'S', 'xValue': '128.436431', 'yValue': '35.701990', 'sdate': '20230212', 'snowValue': '-99.000000', 'addr': '대구광역시 달성군 현풍면 성하리 664', 'tmxValue': '330003.845651', 'tmyValue': '345929.673317', 'measurement': '남문동', 'addrCode': '143', 'addrName': '대구', 'weatherContents': '박무', 'statusNo': '10.000000', 'correctNo': '3.180000', 'cloudValue': '7.000000', 'addcloudValue': '0.000000', 'cloudformValue': '-99.000000', 'tempValue': '3.100000', 'dewValue': '0.800000', 'discomforeValue': '-99.00', 'sensoryTemp': '-99.000000', 'highestTemp': '-99.00', 'highestyearTemp': '-99.00', 'highestcompTemp': '-99.000000', 'lowestTemp': '-99.000000', 'lowestyearTemp': '-99.000000', 'lowestcompTemp': '-99.000000', 'rainfallValue': '-99.000000', 'rainfallstrengthValue': '-99.000000', 'newsnowValue': '-99.000000', 'humidityValue': '85.000000', 'windContents': '11', 'windValue': '1.800000'}

In [152]:
# 데이타프레임으로 변경 
df = pd.DataFrame(weather_list)
df

,unitName,unitCode,routeName,routeNo,stdHour,updownTypeCode,xValue,yValue,sdate,snowValue,...,highestcompTemp,lowestTemp,lowestyearTemp,lowestcompTemp,rainfallValue,rainfallstrengthValue,newsnowValue,humidityValue,windContents,windValue
0,죽전휴게소,002,경부선,0010,10,E,127.104165,37.332651,20230212,-99.000000,...,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,90.000000,14,1.200000
1,안성휴게소(서울),004,경부선,0010,10,E,127.132081,37.076107,20230212,-99.000000,...,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,90.000000,14,1.200000
2,옥산휴게소(서울),031,경부선,0010,10,E,127.371859,36.657168,20230212,-99.000000,...,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,94.000000,7,2.100000
3,천안(삼)휴게소(서울),033,경부선,0010,10,E,127.173092,36.787388,20230212,-99.000000,...,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,100.000000,9,1.000000
4,죽암휴게소(서울),035,경부선,0010,10,E,127.430474,36.496560,20230212,-99.000000,...,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,96.000000,11,1.300000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,서하남휴게소(판교),186,수도권제1순환선,1000,10,S,127.193039,37.525940,20230212,-99.000000,...,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,82.000000,5,2.900000
183,부여휴게소(서공주),204,서천공주선,1510,10,S,126.796944,36.258056,20230212,-99.000000,...,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,96.000000,34,1.600000
184,청양휴게소(동서천),209,서천공주선,1510,10,S,126.989722,36.398611,20230212,-99.000000,...,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,96.000000,34,1.600000
185,벌곡휴게소(논산),043,호남지선,2510,10,S,127.273793,36.217488,20230212,-99.000000,...,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,96.000000,11,1.300000
186,현풍휴게소(현풍),090,중부내륙지선,4510,10,S,128.436431,35.701990,20230212,-99.000000,...,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,85.000000,11,1.800000

In [151]:
# 3) 경부선에 위치한 휴게소의 날씨 데이터만 출력하여라

In [157]:
for weather in weather_list:
    if weather['routeName'] == '경부선':
        print(weather['unitName'] , weather['routeName'], 
              weather['addrName'],weather['weatherContents'])

죽전휴게소 경부선 수원 박무
안성휴게소(서울) 경부선 수원 박무
옥산휴게소(서울) 경부선 청주 안개,하늘안보임(강해짐)
천안(삼)휴게소(서울) 경부선 천안 맑음
죽암휴게소(서울) 경부선 대전 안개,하늘안보임(약해짐)
옥천휴게소(서울) 경부선 대전 안개,하늘안보임(약해짐)
황간휴게소(서울) 경부선 추풍령 맑음
입장휴게소(서울) 경부선 천안 맑음
추풍령휴게소(서울) 경부선 추풍령 맑음
칠곡휴게소(서울) 경부선 구미 맑음
경산휴게소(서울) 경부선 영천 맑음
건천휴게소(서울) 경부선 경주시 맑음
언양휴게소(서울) 경부선 울산 구름많음
신탄진휴게소(서울) 경부선 대전 안개,하늘안보임(약해짐)
청원휴게소(서울) 경부선 청주 안개,하늘안보임(강해짐)
금강휴게소(서울) 경부선 보은 맑음
만남의광장 경부선 서울 박무
기흥휴게소 경부선 수원 박무
안성휴게소(부산) 경부선 천안 맑음
망향휴게소 경부선 천안 맑음
옥산휴게소(부산) 경부선 청주 안개,하늘안보임(강해짐)
천안휴게소(부산) 경부선 천안 맑음
죽암휴게소(부산) 경부선 대전 안개,하늘안보임(약해짐)
금강휴게소(부산) 경부선 보은 맑음
황간휴게소(부산) 경부선 추풍령 맑음
추풍령휴게소(부산) 경부선 추풍령 맑음
평사휴게소(부산) 경부선 영천 맑음
칠곡휴게소(부산) 경부선 구미 맑음
건천휴게소(부산) 경부선 경주시 맑음
언양휴게소(부산) 경부선 울산 구름많음
옥천휴게소(부산) 경부선 대전 안개,하늘안보임(약해짐)
경주휴게소(부산) 경부선 경주시 맑음