# 수치형 자료형

In [4]:
# 한줄로 변수 할당 
n1, n2 = 10, 0b10
print(n1, n2) # 모두 10진수로 표시 

# format(숫자, "b | o | x")
print(n2, format(n1, "b"))
print(n2, format(n1, "x"))

10 2
2 1010
2 a

# 문자열 자료형 

- 정의 
- 인덱싱 
- 슬라이싱 
- 연산자 (+, *)
- 포맷팅 %, format(), f''
- 관련함수 replace(), join(), strip() ...

In [8]:
txt1 = "hello world1"
txt2 = 'hello world2'
# 줄바꿈이 있는 문자열은 홑따움표나 쌍따움표 3개 이용 
txt3 = '''hello 
world3'''
print(txt1)
print(txt2)
print(txt3)

hello world1
hello world2
hello
world3

In [10]:
# 문자열 인덱싱 
# 문자열변수[위치값]
# 위치값은 0부터 시작. 음수값인 경우에는 마지막부터 -숫자
txt = '가나다라마'
print(txt)
print(txt[0], txt[-1])
print(txt[2], txt[-3])

가나다라마
가 마
다 다

In [15]:
# 문자열 슬라이싱 
# 문자열변수[start:end:step]
sample = "0123456789"
print(sample[0:3])
print(sample[:3])
print(sample[3:])
print(sample[::-1]) # 역순
print(sample[::-2])
print(sample[::2]) # 홀수번째 인덱스
print(sample[1::2]) # 짝수번째 인덱스 
print(sample[-3:])
print(sample[-5:-7]) # 결과값없음 
print(sample[-7:-5])

012
012
3456789
9876543210
97531
02468
13579
789

34

In [18]:
# 문자열 연산자 
# + 연결, * 반복 
t1 = 'Python'
t2 = '장고'
print(t1*3)
print(t1+'*'+t2)
# print(t1-t2) # TypeError

PythonPythonPython
Python*장고

# 퀴즈

홍길동씨의 주민등록번호는 881120-1068234 이다.
주민등록번호를 변수로 정의한 후 다음과 같이 출력하여라

In [30]:
jumin = '881120-1068234'
print('연월일 : ', jumin[0:6], jumin[:6], jumin[:-8])
print('숫자 : ', jumin[7:], jumin[-7:])
jumin2 = jumin[:7] + '*'*7
print(jumin2)

연월일 :  881120 881120 881120
숫자 :  1068234 1068234
881120-*******

In [36]:
# 문자열 포맷팅 - %  서식자 
# %s 문자열, %d 정수, %전체자릿수.소숫점이하자릿수f
name = '홍길동'
age = 25 
height = 180.12345678
print('학생명 : %s , 나이 : %d, 키 : %f' % (name, age, height))
print('학생명 : %s , 나이 : %d 살, 키 : %.2f cm' % (name, age, height))
# 포맷팅 값을 새로운 변수로 할당 
student_info = '학생명 : %s , 나이 : %d 살, 키 : %.2f cm' % (name, age, height)
print(student_info)

학생명 : 홍길동 , 나이 : 25, 키 : 180.123457
학생명 : 홍길동 , 나이 : 25 살, 키 : 180.12 cm
학생명 : 홍길동 , 나이 : 25 살, 키 : 180.12 cm

In [38]:
# 문자열 포맷팅 - format()
# {인덱스:서식자} . format(변수1, 변수2 ....1)
# 서식자는 s, d, 전체자릿수.소숫점이하자릿수f
name = '홍길동'
age = 25 
height = 180.12345678
print('학생명 : {} , 나이 : {}, 키 : {:.2f} cm'.format(name, age, height))

학생명 : 홍길동 , 나이 : 25, 키 : 180.12 cm

In [39]:
# 문자열 포맷팅 - f''
# f' {변수}'
# f' {실수변수:전체자릿수.소숫점이하자릿수f}'
name = '홍길동'
age = 25 
height = 180.12345678
print(f'학생명 : {name} , 나이 : {age}, 키 : {height:.2f} cm')

학생명 : 홍길동 , 나이 : 25, 키 : 180.12 cm

In [45]:
# >, <, ^ 사용
name = '홍길동'
print(f'$$${name}$$$')
print(f'$$${name:>10}$$$')
print(f'$$${name:<10}$$$')
print(f'$$${name:^10}$$$')
print(f'$$${name:!^10}$$$')

$$$홍길동$$$
$$$       홍길동$$$
$$$홍길동       $$$
$$$   홍길동    $$$
$$$!!!홍길동!!!!$$$

In [46]:
# 퀴즈 
# 홍길동 씨의 과목별 점수를 이용하여 평균 점수를 
# 소숫점 둘째자리까지
# 출력하여라

In [54]:
kor = 86
math = 77 
eng = 55
print(f'국어 : {kor:<10} 수학 : {math:<10} 영어 : {eng:<10}')
print(f'평균 : {(kor+math+eng)/3:.2f}')

국어 : 86         수학 : 77         영어 : 55
평균 : 72.67

## 문자열 함수 

- 문자열변수.함수명(옵션)
- count()
- upper()
- replace()
- strip() 
- join()

In [55]:
# 샘플 텍스트 문단 변수 생성 
# https://www.lipsum.com
sample = '''
Lorem Ipsum is simply dummy text of the printing 
and typesetting industry. 
Lorem Ipsum has been the industry's 
standard dummy text ever since the 1500s, 
when an unknown printer took a galley of type 
and scrambled it to make a type specimen book. 
It has survived not only five centuries, 
but also the leap into electronic typesetting, 
remaining essentially unchanged. 
It was popularised in the 1960s with 
the release of Letraset sheets containing 
Lorem Ipsum passages, and more recently 
with desktop publishing software 
like Aldus PageMaker including versions of Lorem Ipsum.
'''

In [60]:
# 모두 대문자로 변환 
print(sample.upper())

LOREM IPSUM IS SIMPLY DUMMY TEXT OF THE PRINTING
AND TYPESETTING INDUSTRY.
LOREM IPSUM HAS BEEN THE INDUSTRY'S
STANDARD DUMMY TEXT EVER SINCE THE 1500S,
WHEN AN UNKNOWN PRINTER TOOK A GALLEY OF TYPE
AND SCRAMBLED IT TO MAKE A TYPE SPECIMEN BOOK.
IT HAS SURVIVED NOT ONLY FIVE CENTURIES,
BUT ALSO THE LEAP INTO ELECTRONIC TYPESETTING,
REMAINING ESSENTIALLY UNCHANGED.
IT WAS POPULARISED IN THE 1960S WITH
THE RELEASE OF LETRASET SHEETS CONTAINING
LOREM IPSUM PASSAGES, AND MORE RECENTLY
WITH DESKTOP PUBLISHING SOFTWARE
LIKE ALDUS PAGEMAKER INCLUDING VERSIONS OF LOREM IPSUM.

In [61]:
# replace(old, new)
# 도우미 기능은 [shift] + [tab]
print(sample.replace('is', 'was'))

Lorem Ipsum was simply dummy text of the printing
and typesetting industry.
Lorem Ipsum has been the industry's
standard dummy text ever since the 1500s,
when an unknown printer took a galley of type
and scrambled it to make a type specimen book.
It has survived not only five centuries,
but also the leap into electronic typesetting,
remaining essentially unchanged.
It was popularwased in the 1960s with
the release of Letraset sheets containing
Lorem Ipsum passages, and more recently
with desktop publwashing software
like Aldus PageMaker including versions of Lorem Ipsum.

In [68]:
# 여백 제거 strip()
txt = "   파  이  썬   "
print(f'$$${txt}$$$')
print(f'$$${txt.strip()}$$$')
print(f'$$${txt.replace(" ", "")}$$$')

$$$   파  이  썬   $$$
$$$파  이  썬$$$
$$$파이썬$$$

In [69]:
# 대체문자.join(문자열변수|리스트|튜플)
txt = "파이썬"
print(' , '.join(txt))

파 , 이 , 썬

# 리스트 

- 선언 Create
- 인덱싱  Read
- 슬라이싱 Read
- 리스트함수 : 추가, 삭제  Update, Detele
- 형변환

In [71]:
# 리스트 선언1 - 초기값 설정 방식 
# 리스트명 = [ 값1, 값2 .... ]
myList = [10, 20, 3.14, True, False, '파이썬']
print(myList)
print(type(myList)) # 자료형 확인 
print(len(myList)) # 자료형의 길이 확인

[10, 20, 3.14, True, False, '파이썬']
<class 'list'>
6

In [79]:
# 리스트 선언2 
# 빈리스트 생성후 
# append(), insert(), extend(리스트) 데이타 추가
# insert(인덱스, 값)
myList = []
print(myList, len(myList))
myList.append(100)
myList.append(200)
print(myList, len(myList))
myList.insert(0, '파이썬')
print(myList, len(myList))
# 여러개의 리스트를 맨뒤에 추가 
myList.extend([True, False])
print(myList, len(myList))
# 리스트안에 리스트가 삽입 
myList.append([True, False])
print(myList, len(myList))

[] 0
[100, 200] 2
['파이썬', 100, 200] 3
['파이썬', 100, 200, True, False] 5
['파이썬', 100, 200, True, False, [True, False]] 6

In [88]:
# 리스트 인덱싱과 슬라이싱 
myList = [10, 20, 30, 40, 50, 'Python']
print(myList)
print(myList[0], myList[-1])
print(myList[1:3], myList[-4:-2])
print(myList[::-1]) # 역순
print(myList[1::2]) # 짝수번째 
# 마지막 인덱스에 해당하는 문자열에서 마지막 문자 
print(myList[-1][-1])

[10, 20, 30, 40, 50, 'Python']
10 Python
[20, 30] [30, 40]
['Python', 50, 40, 30, 20, 10]
[20, 40, 'Python']
n

In [95]:
# 삭제 
# pop() 마지막 요소 삭제 
# pop(인덱스) 인덱스위치값에 해당하는 요소 삭제 
# remove(값) : 해당값을 리스트에서 삭제 
# clear() : 모든 요소 삭제 
myList = [10, 20, 30, 40, 30, 50]
print(myList, len(myList))
myList.pop()
print(myList, len(myList))
myList.pop(0)
print(myList, len(myList))
myList.remove(30)
print(myList, len(myList))
myList.clear()
print(myList, len(myList))

[10, 20, 30, 40, 30, 50] 6
[10, 20, 30, 40, 30] 5
[20, 30, 40, 30] 4
[20, 40, 30] 3
[] 0

In [98]:
# 정렬 
myList = [100, 10, 3000, 30, 50]
print(myList)
# sort() 함수는 print() 문안에서는 사용하지 않음 
# print(myList.sort()) # None
myList.sort()
print(myList)

[100, 10, 3000, 30, 50]
[10, 30, 50, 100, 3000]

In [99]:
# 퀴즈 
# 데이터를 입력받은 후 리스트에 추가하고 결과를 출력하여라.
# ( input() 이용, 리스트의 원소는 5개로 한다. )

In [103]:
myList = [] # 빈리스트 생성

item = input('좋아하는 음식은? ...') # 데이타 입력받기
myList.append(item) # 데이타 추가 

myList.append(input('최근 본 영화는? ...'))
myList.append(input('좋아하는 가수는? ...'))
myList.append(input('좋아하는 숫자? ...'))
myList.append(input('최근 여행지? ...'))

print(f'당신에 관한 리스트 : {myList} ') # 리스트 출력

좋아하는 음식은? ...초밥
최근 본 영화는? ...아바타
좋아하는 가수는? ...BTS
좋아하는 숫자? ...11
최근 여행지? ...부산
당신에 관한 리스트 : ['초밥', '아바타', 'BTS', '11', '부산']

In [107]:
# 주석 단축키 [ctrl] + [/]
# 퀴즈 
# 태어난 년도를 입력받은 후 태어난 년도에 대한 띠를 출력한다
# 태어난 년도를 12로 나눈후 나머지를 구한다. 나머지에 
# 따라서 띠를 출력한다.
# 띠 = 태어난년도%12
# 원숭이, 닭, 개, 돼지, 쥐, 소, 범, 토끼, 용, 뱀, 말, 양 (0 ........ 11)

In [111]:
# 띠 리스트 생성 
animal = ['원숭이', '닭', '개', '돼지', 
          '쥐', '소', '범', '토끼', '용', '뱀','말', '양']

# 년도 입력받기 
year = input('태어난 년도는? ...')
print(year, type(year))

# 숫자로 형변환 
# int(), float()
year = int(year)
print(year, type(year))

# 년도에 해당하는 띠의 인덱스값 구하기 
target = year%12

# 출력하기 
print(f' {year} 년도생은 {animal[target]} 띠입니다')

태어난 년도는? ...2023
2023 <class 'str'>
2023 <class 'int'>
 2023 년도생은 토끼 띠입니다

# 다차원 리스트

In [116]:
myList = [ 'PYTHON',
            [1, 2, 3, 4], 
            [100, 200]
         ]
print(myList, len(myList))
print(myList[0], len(myList[0]))
print(myList[1], len(myList[1]), myList[1][1] )
print(myList[2], len(myList[2]), myList[2][-1] )

['PYTHON', [1, 2, 3, 4], [100, 200]] 3
PYTHON 6
[1, 2, 3, 4] 4 2
[100, 200] 2 200

In [119]:
# 1차원리스트를 이용해서 2차원리스트로 생성 
kor = [100, 80, 85]
math = [55, 70, 35]
eng = [80, 80, 100]
grade = [kor, math, eng]
print(grade)
# grade 리스트 기준으로 국어 점수의 합계와 평균 구하기 
kor_tot = grade[0][0] + grade[0][1] + grade[0][2]
print(f' 국어 총점 : {kor_tot}, 국어 평균 : {kor_tot/3:.2f}')

[[100, 80, 85], [55, 70, 35], [80, 80, 100]]
 국어 총점 : 265, 국어 평균 : 88.33