# Day1 Review

- 작업환경 설정 (아나콘다 + 쥬피터노트북) 
- 주석 #
- 출력문 print()
- 입력문 input()
- 산술연산자 +, -, *, **, /, //, %
- 변수
- 기본자료형 : 정수, 실수, 문자열, 논리형(True, False)
- 문자열 정의, 인덱싱, 슬라이싱, 포맷팅, 문자열 함수 
- 리스트 : CRUD 정의, 추가, 삭제, 인덱싱, 슬라이싱

# 그룹형 자료형 

- 리스트 [] CRUD
- 딕셔너리 CUD  키워드인덱싱X  
- 튜플 () CR U-추가 내용수정불가능 readOnly  
- 집합 {} CUD 인덱싱X, 슬라이싱X

# 튜플 

- 튜플 정의 
- 인덱싱, 슬라이싱 
- 데이타형변환 : tuple(), list(), str(), join()

In [1]:
# 튜플 생성 - 초기값 지정방식 
t1 = ('홍길동', '고길동', '최길동')
t2 = '홍길동', '고길동', '최길동' # 괄호 생략가능
t3 = ('홍길동') # 튜플X, 문자열
t4 = ('홍길동',) # 튜플O
print(t1, type(t1))
print(t2, type(t2))
print(t3, type(t3))
print(t4, type(t4))

('홍길동', '고길동', '최길동') <class 'tuple'>
('홍길동', '고길동', '최길동') <class 'tuple'>
홍길동 <class 'str'>
('홍길동',) <class 'tuple'>

In [6]:
# 튜플 생성 - 빈튜플생성후 데이타 추가
# += 연산자 이용 
t5 = ()
print(t5, type(t5), len(t5))
t5 += (100,) 
# t5 += (100) # TypeError
print(t5, type(t5), len(t5))
t5 += (1000, 500) 
print(t5, type(t5), len(t5))

() <class 'tuple'> 0
(100,) <class 'tuple'> 1
(100, 1000, 500) <class 'tuple'> 3

In [9]:
# 튜플 인덱싱, 슬라이싱 
# 튜플 연산자 +, *
myTuple = ('홍길동', '고길동', 
           '최길동', '이길동', '김길동')
print(f' myTuple = {myTuple} ')
print(f' 첫번째 데이타는? {myTuple[0]} ')
print(f' 마지막 데이타는? {myTuple[-1]} ')
print(f' 2, 3번 데이타는? {myTuple[1:3]} ')
print(f' 2,4번 데이타는? {myTuple[1::2]} ')
print(f' 전체튜플을 2번 출력 : {myTuple+myTuple} ')
print(f' 전체튜플을 2번 출력 : {myTuple*2} ')

 myTuple = ('홍길동', '고길동', '최길동', '이길동', '김길동')
 첫번째 데이타는? 홍길동
 마지막 데이타는? 김길동
 2, 3번 데이타는? ('고길동', '최길동')
 2,4번 데이타는? ('고길동', '이길동')
 전체튜플을 2번 출력 : ('홍길동', '고길동', '최길동', '이길동', '김길동', '홍길동', '고길동', '최길동', '이길동', '김길동')
 전체튜플을 2번 출력 : ('홍길동', '고길동', '최길동', '이길동', '김길동', '홍길동', '고길동', '최길동', '이길동', '김길동')

In [11]:
# 튜플 구성 데이타를 변수로 설정 
student = ( name, gender, grade ) = ( '최길동', '남', 4.0 )
print(student)
print(f' 학생명 : {name}')
print(f' 학생명 : {student[0]}')
print(name, gender, grade )

('최길동', '남', 4.0)
 학생명 : 최길동
 학생명 : 최길동
최길동 남 4.0

In [12]:
# 다차원 튜플 
t1 = ( (1, 2), (3, 4), (5, 6)) # 튜플안의 튜플 
t2 = [ (1, 2), (3, 4), (5, 6) ] # 리스트안의 튜플 
print(t1)
print(t1[0])
print(t1[-1][-1]) # 마지막요소 
print(t2, type(t2))
print(t2[-1], type(t2[-1]))
print(t2[-1][-1], type(t2[-1][-1]))

((1, 2), (3, 4), (5, 6))
(1, 2)
6
[(1, 2), (3, 4), (5, 6)] <class 'list'>
(5, 6) <class 'tuple'>
6 <class 'int'>

In [18]:
# 데이타형변환 : tuple(), list(), str(), join()
myTuple1 = ('홍길동', '고길동','최길동', '이길동', '김길동')
myTuple2 = ( 10, 20, 30 )
print(myTuple1, type(myTuple1))
# 리스트 변경 
myList1 = list(myTuple1)
print(myList1, type(myList1))
# myList1 에서 1, 2번 데이타 추출해서 튜플로 생성 
myTuple3 = tuple(myList1[:3])
print(myTuple3, type(myTuple3))

('홍길동', '고길동', '최길동', '이길동', '김길동') <class 'tuple'>
['홍길동', '고길동', '최길동', '이길동', '김길동'] <class 'list'>
('홍길동', '고길동', '최길동') <class 'tuple'>

In [20]:
# 튜플 => 문자열 
myTuple1 = ('홍','고','최','이','김')
print(myTuple1, type(myTuple1))
myText1 = str(myTuple1)
print(myText1, type(myText1))
# 데이타 사이에 공백 삽입해서 문자열로 변경
myText2 = ''.join(myTuple1)
print(myText2, type(myText2))

('홍', '고', '최', '이', '김') <class 'tuple'>
('홍', '고', '최', '이', '김') <class 'str'>
홍고최이김 <class 'str'>

In [23]:
# 숫자로 구성된 튜플 
# myTuple2 = ( 10, 20, 30 ) # TypeError 
myTuple2 = ( '10', '20', '30' )
myText2 = ''.join(myTuple2)
print(myText2, type(myText2))

102030 <class 'str'>

In [27]:
# 다음 튜플 데이터의 첫번째에 
# 'fun-coding0' 데이터를 추가하여라
tupledata = ('fun-coding1', 'fun-coding2', 'fun-coding3')
print(f' Before : {tupledata} ')
# 튜플 => 리스트 
temp = list(tupledata)
print(temp)
# 데이타 추가 
temp.insert(0, 'fun-coding0')
print(temp)
# 리스트 => 튜플 
tupledata = tuple(temp)
print(f' After : {tupledata} ')

 Before : ('fun-coding1', 'fun-coding2', 'fun-coding3')
['fun-coding1', 'fun-coding2', 'fun-coding3']
['fun-coding0', 'fun-coding1', 'fun-coding2', 'fun-coding3']
 After : ('fun-coding0', 'fun-coding1', 'fun-coding2', 'fun-coding3')

# 딕셔너리 

- 정의 
- 키인덱싱 
- 데이타값 변경 
- 관련함수 : values(), keys(), items()
- 중첩구조 
- 데이형변환 : list(), tuple(), str(), join(), dict(), enumerate()

In [35]:
# 딕셔너리 정의 - 초기값 지정방식 
# 딕셔너리명 = {키1:값1, ...}
dict1 = {'a':'apart', 'c':'cat', 's':'side'}
dict2 = {101:'무궁화실', 102:'도라지실'}
dict3 = {'가':'가로수', '나':'나라', '다':'다리미'}
print(dict1, type(dict1), len(dict1))
# 키값으로 데이타 출력
print(dict1['a'], dict2[102], dict3['나'])
# 아래는 에러 발생. 위치인덱싱 불가능 
# print(dict1[0]) # KeyError

{'a': 'apart', 'c': 'cat', 's': 'side'} <class 'dict'> 3
apart 도라지실 나라

In [38]:
# 딕셔너리 정의 - 빈딕셔너리 생성후 데이타 추가 
# 딕셔너리명[키값] = 데이타값 
# 데이타값은 중복가능, 키값은 중복 허용 X
myDict = {}
print(myDict, type(myDict), len(myDict))
myDict['c1'] = '파이썬' 
myDict['c2'] = '웹수집' 
print(myDict, type(myDict), len(myDict))
# 기존에 해당키가 있다면 데이타값이 업데이트 => 데이타값 교체
myDict['c2'] = '장고'
print(myDict, type(myDict), len(myDict))

{} <class 'dict'> 0
{'c1': '파이썬', 'c2': '웹수집'} <class 'dict'> 2
{'c1': '파이썬', 'c2': '장고'} <class 'dict'> 2

In [43]:
# 데이타 값 변경 update(키=값)
# 데이타 삭제 pop(키), clear()
dict1 = {'a':'apart', 'c':'cat', 's':'side'}
print(dict1, len(dict1))
dict1.update(c = '커피')
print(dict1, len(dict1))
dict1['c'] = 'coffee'
print(dict1, len(dict1))
dict1.pop('c')
print(dict1, len(dict1))
dict1.clear()
print(dict1, len(dict1))

{'a': 'apart', 'c': 'cat', 's': 'side'} 3
{'a': 'apart', 'c': '커피', 's': 'side'} 3
{'a': 'apart', 'c': 'coffee', 's': 'side'} 3
{'a': 'apart', 's': 'side'} 2
{} 0

In [45]:
# 딕셔너리 관련함수 
# values(), keys(), items()
dict1 = {'a':'apart', 'c':'cat', 's':'side'}
dict2 = dict1.values() # dict_values 리스트 스타일 
dict3 = dict1.keys() # dict_keys 리스트 스타일 
dict4 = dict1.items() # dict_items 리스트안에 튜플 스타일 
print(dict1, type(dict1))
print(dict2, type(dict2))
print(dict3, type(dict3))
print(dict4, type(dict4))

{'a': 'apart', 'c': 'cat', 's': 'side'} <class 'dict'>
dict_values(['apart', 'cat', 'side']) <class 'dict_values'>
dict_keys(['a', 'c', 's']) <class 'dict_keys'>
dict_items([('a', 'apart'), ('c', 'cat'), ('s', 'side')]) <class 'dict_items'>

In [47]:
# 딕셔너리에서 키값만 리스트로 만들어라 
dict1 = {'a':'apart', 'c':'cat', 's':'side'}
result = list(dict1.keys())
print(result, type(result))

['a', 'c', 's'] <class 'list'>

In [48]:
# 딕셔너리 중첩 구조 표현 
idol = {
    '그룹명' : '아이브', 
    '멤버': {
        '보컬':['안유진', '장원영', '리즈', '이서'],
        '래퍼':['가을', '레이'],
        '리더':'안유진'
    }
}

print(idol, type(idol))
print(idol['그룹명'], type(idol['그룹명']))
print(idol['멤버'], type(idol['멤버']))
print(idol['멤버']['보컬'], type(idol['멤버']['보컬']))
print(idol['멤버']['보컬'][3], type(idol['멤버']['보컬'][3]))

{'그룹명': '아이브', '멤버': {'보컬': ['안유진', '장원영', '리즈', '이서'], '래퍼': ['가을', '레이'], '리더': '안유진'}} <class 'dict'>
아이브 <class 'str'>
{'보컬': ['안유진', '장원영', '리즈', '이서'], '래퍼': ['가을', '레이'], '리더': '안유진'} <class 'dict'>
['안유진', '장원영', '리즈', '이서'] <class 'list'>
이서 <class 'str'>

In [52]:
# 데이형변환 : dict(), enumerate()
member = ['안유진', '장원영', '리즈', '이서']
print(member, type(member))
# enumerate(리스트|튜플) => enumerate 객체 
temp = enumerate(member)
print(temp, type(temp))
# enumerate 객체 => 리스트안의 튜플 
temp = list(temp)
print(temp, type(temp))
# enumerate 객체 => 딕셔너리 
temp = dict(temp)
print(temp, type(temp))

['안유진', '장원영', '리즈', '이서'] <class 'list'>
<enumerate object at 0x0000020CF412DD40> <class 'enumerate'>
[(0, '안유진'), (1, '장원영'), (2, '리즈'), (3, '이서')] <class 'list'>
{0: '안유진', 1: '장원영', 2: '리즈', 3: '이서'} <class 'dict'>

In [55]:
# 딕셔너리에서 값만 추출해서 문자열로 변경 
# 결과 예시 : 값1 , 값2 
dict1 = {'a':'apart', 'c':'cat', 's':'side'}
print(dict1)
# 값만 추출해서 리스트로 변경 
temp = list(dict1.values())
print(temp)
# 리스트에서 문자열로 변경 
temp = ' , '.join(temp)
print(temp, type(temp))

{'a': 'apart', 'c': 'cat', 's': 'side'}
['apart', 'cat', 'side']
apart , cat , side <class 'str'>

# 집합 

- 생성 : {}, set()
- 추가 : add(), update()
- 연산자 |, -, &, ^
- 관련함수 
- 캐스팅

In [58]:
# 집합 생성 - 초기값 지정방식 
s1 = { 'a', 'b', 'c', 'd'}
# 리스트 => 집합 
s2 = set(['apart', 'cat', 'side'])
# 문자열 => 집합
s3 = set('가나다라마바사')
# 딕셔너리 키만 => 집합
s4 = set({'a': 'apart', 'c': 'cat', 's': 'side'})
print(s1, type(s1))
print(s2, type(s2))
print(s3, type(s3))
print(s4, type(s4))

{'b', 'a', 'd', 'c'} <class 'set'>
{'side', 'cat', 'apart'} <class 'set'>
{'나', '바', '사', '가', '마', '다', '라'} <class 'set'>
{'c', 'a', 's'} <class 'set'>

In [60]:
# 딕셔너리 값만 => 집합
dict1 = {'a': 'apart', 'c': 'cat', 's': 'side'}
s5 = set(dict1.values())
print(s5, type(s5))

{'side', 'cat', 'apart'} <class 'set'>

In [65]:
# 집합 생성 - 빈 집합 생성후 데이타 추가 
# add(), update()
s1 = set() # 빈 집합 
s2 = {} # 빈 딕셔너리
print(s1, type(s1))
print(s2, type(s2))
# add() 를 이용한 데이타 추가 
s1.add(10)
s1.add(20)
s1.add(30)
print(s1, len(s1))
# update() 를 이용한 데이타 추가 
# 문자열을 데이타로 지정하면 낱글자로 집합에 추가 
s1.update('강아지')
print(s1, len(s1))
# 리스트로 데이타 지정 
s1.update(['강아지'])
print(s1, len(s1))
s1.update(['고양이', '치타', '호랑이'])
print(s1, len(s1))

set() <class 'set'>
{} <class 'dict'>
{10, 20, 30} 3
{'아', '강', 10, '지', 20, 30} 6
{'아', '강', 10, '지', 20, '강아지', 30} 7
{'아', '치타', '강', 10, '호랑이', '지', 20, '고양이', '강아지', 30} 10

In [68]:
# 데이타 삭제  
# remove(값)
s1 = { 'a', 'b', 'c', 'd'}
print(s1)
s1.remove('c')
print(s1)
s1.clear() # 데이타 모두 삭제
print(s1)

{'b', 'a', 'd', 'c'}
{'b', 'a', 'd'}
set()

In [71]:
# 집합 특징 
# 인덱싱, 슬라이싱 불가 
# 중복값을 허용하지 않는다. 
s1 = { 'a', 'b', 'c', 'd', 'a', 'a', 'a'}
print(s1, len(s1))
# TypeError
# print(s1[0])

{'b', 'a', 'd', 'c'} 4

In [74]:
# 'a' 값을 'apple' 로 변경하여라 
# 최종 결과값은 집합
s1 = { 'a', 'b', 'c', 'd'}
print(f' Before : {s1}')
# 리스트 구조로 변경한 후 
# 리스트명[인덱스] = 값 
s1 = list(s1)
print(s1)
s1[1] = 'apple'
print(s1)
# 리스트 => 집합 
s1 = set(s1)
print(f' After : {s1}')

 Before : {'b', 'a', 'd', 'c'}
['b', 'a', 'd', 'c']
['b', 'apple', 'd', 'c']
 After : {'apple', 'b', 'd', 'c'}

In [87]:
# 퀴즈 
# number_list에서 중복 숫자를 제거한 후 
# 내림차순 형태로 정렬하여라
number_list = [ 5, 1, 2, 2, 3,4, -5, 6, 7, 6, 
                   7, 8, 9, 9, 10, 100 ]
print(number_list)
# 집합으로 변경 
number_list = set(number_list)
print(number_list, type(number_list))
# 다시 리스트구조로 변경 
number_list = list(number_list)
print(number_list, type(number_list))
# 역순으로 정렬 
# print(number_list[::-1])
number_list.sort()
print(number_list)
print(number_list[::-1])

[5, 1, 2, 2, 3, 4, -5, 6, 7, 6, 7, 8, 9, 9, 10, 100]
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, -5} <class 'set'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, -5] <class 'list'>
[-5, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]
[100, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, -5]

In [92]:
# reverse() => 역순으로 출력. 원본에 적용됨 
number_list = [ 5, 1, 2, 2, 3, 4, -5, 6, 7, 6, 
                   7, 8, 9, 9, 10, 100 ]
print(number_list[::-1])
print(number_list)
number_list.reverse()
print(number_list)

[100, 10, 9, 9, 8, 7, 6, 7, 6, -5, 4, 3, 2, 2, 1, 5]
[5, 1, 2, 2, 3, 4, -5, 6, 7, 6, 7, 8, 9, 9, 10, 100]
[100, 10, 9, 9, 8, 7, 6, 7, 6, -5, 4, 3, 2, 2, 1, 5]

In [95]:
# 집합 연산자와 함수 적용
# 연산자 |, -, &, ^
s1 = { '김', '박', '최', '윤' } 
s2 = { '이', '박', '신', '윤' } 
print(s1|s2, s1.union(s2)) # 합집합
print(s1-s2, s1.difference(s2)) # 차집합
print(s1&s2, s1.intersection(s2)) # 교집합
print(s1^s2, s1.symmetric_difference(s2)) # 여집합

{'윤', '이', '최', '박', '신', '김'} {'윤', '이', '최', '박', '신', '김'}
{'최', '김'} {'최', '김'}
{'윤', '박'} {'윤', '박'}
{'이', '최', '신', '김'} {'이', '최', '신', '김'}