# for 반복문 
- for ... in range()
- for ... in 문자열|리스트|딕셔너리|튜플
- 리스트내포

In [5]:
# range(start,end, step)
# start는 생략시 0
# step 은 생략시 1
# start ~ end-1 까지 생성
print(range(1,11))
numlist = list(range(1,11))
numtuple = tuple(range(10,0,-1))
print(numlist)
print(numtuple)

range(1, 11)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [11]:
# for 카운팅변수 in range(start,end,step):
#     명령문 

# 1~10까지 출력 
for i in range(1,11):
    print(i, end = ' ')

# 20~1 까지 출력 
print()
for i in range(20, 0, -2):
    print(i, end = ' ')

1 2 3 4 5 6 7 8 9 10
20 18 16 14 12 10 8 6 4 2

In [18]:
# for 문 + if 문 
# 1~25까지 출력 
# 한줄에 5개씩 출력
for i in range(1,26):
#     print(f'{i:>3}', end = ' ')
#     print(f'{i:<3}', end = ' ')
    print(f'{i:^3}', end = ' ')
    if (i%5 == 0):
        print()

 1   2   3   4   5
 6   7   8   9  10
11  12  13  14  15
16  17  18  19  20
21  22  23  24  25

In [19]:
# 퀴즈 
# 빈 리스트를 생성하고 데이타를 입력받아 리스트에 추가한다.
# 리스트에 삽입되는 데이타는 숫자이어야 한다.
# 음수의 숫자도 입력 대상이다
# 데이타 총 입력 횟수는 10번이며 리스트의 길이가 5이면 입력을 중단한다

In [25]:
# isdigit() 문자열이 숫자이면 True
# 음수 : - + 숫자형태
mylist = []

for i in range(10):
    # 리스트의 길이가 5라면 강제 종료 
    if (len(mylist) == 5):
        break   
    print(i)
    data = input('데이타를 입력하세요...')     
    # 모두숫자이거나 첫글자가 -이고 나머지가 숫자라면 
    # 리스트에 추가 
    if data.isdigit() or (data[0] == '-' and data[1:].isdigit()): 
        mylist.append(data)

print(mylist)

0
데이타를 입력하세요...45
1
데이타를 입력하세요...66
2
데이타를 입력하세요...-90
3
데이타를 입력하세요...rrr
4
데이타를 입력하세요...100
5
데이타를 입력하세요...80
['45', '66', '-90', '100', '80']

In [28]:
# 다중 for 문 
for i in range(1,5):
    print()
    print(i)
    for j in range(1,4):
        print('='*20, j)

1
==================== 1
==================== 2
==================== 3

2
==================== 1
==================== 2
==================== 3

3
==================== 1
==================== 2
==================== 3

4
==================== 1
==================== 2
==================== 3

In [35]:
# 구구단 출력 
for i in range(2, 10):
    print(f'{i:>5} 단')
    
    for j in range(1,10):
        print(f'{i} X {j} = {(i*j):<3}')
    
    print()

    2 단
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

    3 단
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

    4 단
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

    5 단
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

    6 단
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

    7 단
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

    8 단
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

    9 단
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [39]:
# for 아이템변수 in 문자열|튜플|리스트|집합:
#      명령문 

txt = 'abcde'
count = 1
for item in txt:
    print(count, '  '*count, item)
    count += 1

1    a
2      b
3        c
4          d
5            e

In [42]:
# 리스트 순회 
# 2글자인 데이타만 출력 
myList = ['강아지', '호랑이', '토끼', '은하수', '참새']
for item in myList:
    if (len(item) == 2):
        print(item)

토끼
참새

In [46]:
# for in + if + continue
# 60점 이상인 학생 데이타 출력 
score = [90, 25, 67, 34, 80]
count = 0
for item in score:
    count += 1
# if 하단에 명령어가 1행인 경우에는 
# 같은 행으로 프로그래밍 가능     
#     if (item <  60):
#         continue
    if (item <  60): continue        
    print(f' {count} 번 학생 : {item}')

 1 번 학생 : 90
 3 번 학생 : 67
 5 번 학생 : 80

In [48]:
# 집합 순회 테스트 
mySet = {'강아지', '호랑이', '토끼', '은하수', '참새'}
print(mySet)
for item in mySet:
    print(item)

{'참새', '강아지', '은하수', '호랑이', '토끼'}
참새
강아지
은하수
호랑이
토끼

In [54]:
# 딕셔너리 순차접근 
myDict = {'a':'apple', 
          'c':'cat', 
          'd':'dress'}
print(myDict['a'], myDict['c'], myDict['d'])

for key in myDict:
    print(f' 키 {key} , 값 {myDict[key]} ')

apple cat dress
 키 a , 값 apple
 키 c , 값 cat
 키 d , 값 dress

In [58]:
# 키와 값 변수를 이용한 딕셔너리 접근 
myDict = {'a':'apple', 
          'c':'cat', 
          'd':'dress'}
# items()함수는 딕셔너리 키와 값을 
# 튜플로 그룹화 한 후 리스트 스타일로 변경
# 리스트안의 튜플 
print(list(myDict.items()))

for k, v in myDict.items():
    print(f' 키 {k} , 값 {v} ')

[('a', 'apple'), ('c', 'cat'), ('d', 'dress')]
 키 a , 값 apple
 키 c , 값 cat
 키 d , 값 dress

In [64]:
# 딕셔너리 값에 a 글자가 있는 아이템만 표시하고 
# 총 갯수를 출력하여라.

# in 연산자 
# 특정 글자가 있다면 True
# print('a' in 'say')
# print('a' in 'coffee')

word_dict = {'a': 'africa', 's': 'say', 
             'c': 'coffee', 'd': 'drama', 
             'y':'yes'}

count = 0
for key in word_dict:
    if ('a' in word_dict[key]):
        print(word_dict[key])
        count += 1

print(f' 총갯수는? {count}')

africa
say
drama
 총갯수는? 3

In [67]:
# 중첩 리스트 for 문 사용 
mylist = [ [1, 2], [100, 200], [1000, 2000]]

# 중첩 리스트 인덱싱 
# 리스트명[행][열]
print(mylist[1][0])
print(mylist[2][1])
print()
for i in range(3):
    print(mylist[i])
print()
for i in range(3):
    for j in range(2):
        print(mylist[i][j], end=' ')
    print()

100
2000

[1, 2]
[100, 200]
[1000, 2000]

1 2
100 200
1000 2000

In [68]:
# 중첩 리스트 for 문 사용 
mylist = [ [1, 2], [100, 200], [1000, 2000]]

for (i, j) in mylist:
    print(f' i={i}  j={j}')

 i=1  j=2
 i=100  j=200
 i=1000  j=2000

In [83]:
# 퀴즈 
# 학생이름, 국어, 영어, 수학 으로 구성된 2차원 리스트를 생성하고
# for 문을 이용하여 아래와 같이 출력하여라

stGradeList = [ ['김태희', 30, 50, 55],
                ['신민아', 50, 90, 80],
                ['박지민', 50, 90, 40],
                ['김소희', 60, 50, 56],
                ['윤준희', 90, 88, 66]]
print('='*50)
print(' 학생명  국어  수학  영어  총점   평균')
print('='*50)
for (name, kor, math, eng) in stGradeList:
    print(f'{name:>5} {kor:>4} {math:>4} {eng:>4} 
             {kor+math+eng:>6}   {(kor+math+eng)/3:.2f}')

==================================================
 학생명  국어  수학  영어  총점   평균
==================================================
  김태희   30   50   55    135   45.00
  신민아   50   90   80    220   73.33
  박지민   50   90   40    180   60.00
  김소희   60   50   56    166   55.33
  윤준희   90   88   66    244   81.33

In [86]:
# zip()
# 개별 리스트|튜플 들을 그룹화한다 
st_name = [ '홍길동', '신민아', '김소희']
kor = [ 90, 67, 77 ]
math = [ 55, 89, 100 ]
print(zip(st_name, kor, math))

# 리스트로 변경 
print(list(zip(st_name, kor, math)))
print()

# for 문 + zip()
for name, kor, math in zip(st_name, kor, math):
    print(name, kor, math)

<zip object at 0x000001669C053A00>
[('홍길동', 90, 55), ('신민아', 67, 89), ('김소희', 77, 100)]
홍길동 90 55
신민아 67 89
김소희 77 100

In [88]:
#  리스트내포 
# [ 최종값 for 변수 in range(start, end, step) ]

# 3단의 결과로 리스트 생성 
# 빈리스트 생성 후 데이타를 추가하는 방식 
result = []
for i in range(1, 10):
    result.append(3*i)
print(result)   

# 리스트 내포 방식으로 변환 
result = [ 3*i for i in range(1, 10)]
print(result)

[3, 6, 9, 12, 15, 18, 21, 24, 27]
[3, 6, 9, 12, 15, 18, 21, 24, 27]

In [91]:
# 문자열+숫자 구성된 데이타로 리스트 생성 
result = []
for i in range(1, 6):
    # 형변환 필요 
    result.append('python'+ str(i))
print(result)   

# 리스트 내포 방식으로 변환 
result = [ 'python'+ str(i) for i in range(1, 6)]
print(result)

['python1', 'python2', 'python3', 'python4', 'python5']
['python1', 'python2', 'python3', 'python4', 'python5']

In [94]:
# 구구단의 결과값을 리스트로 저장 

result = []
for i in range(2, 9):
    for j in range(1, 10):
        result.append(i*j)
print(result)   
print()

# 리스트 내포 방식으로 변환 
result = [ i*j for i in range(2, 9) for j in range(1, 10) ]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72]

In [97]:
# 리스트내포 + if 문 
# 1~50 사이의 숫자중에서 3의 배수이거나 7의 배수만 리스트로 생성 
result = []
for i in range(1, 51):
    if (i%3 == 0) or (i%7 == 0):
        result.append(i)
print(result)   

# 리스트 내포 방식으로 변환 
result = [ i for i in range(1, 51) if (i%3 == 0) or (i%7 == 0) ]
print(result)

[3, 6, 7, 9, 12, 14, 15, 18, 21, 24, 27, 28, 30, 33, 35, 36, 39, 42, 45, 48, 49]
[3, 6, 7, 9, 12, 14, 15, 18, 21, 24, 27, 28, 30, 33, 35, 36, 39, 42, 45, 48, 49]

# 함수 

- 매개변수 = agument = 파라미터 = 인자 
- 반환값 return 
- 파라미터 X,  반환값 X
- 파라미터 O,  반환값 X
- 파라미터 O,  반환값 O

In [98]:
# 파라미터 X, 반환값 X
# 함수 정의
# def 함수명():
#     명령문 

# 함수 호출은?
# 함수명()

# 고객명을 입력받아서 인사말 출력하기 
# 함수 정의 
def hello():
    user = input('이름을 입력해주세요...')
    print(f' {user} 고객님!!! 오늘도 좋은 하루되세요!!!')
    print('='*20)

# 함수 호출 
hello()

이름을 입력해주세요...홍길동
 홍길동 고객님!!! 오늘도 좋은 하루되세요!!!
====================

In [99]:
hello()

이름을 입력해주세요...줄리아
 줄리아 고객님!!! 오늘도 좋은 하루되세요!!!
====================

In [102]:
# 파라미터 O, 반환값 X
# 함수 정의
# def 함수명(파라미터1, 파라미터2 ...):
#     명령문 

# 함수 호출은?
# 함수명( 값1, 값2 ...)

# 2개의 값을 받아서 연산자(+,-,/,*,%)를 이용하여 
# 연산결과 출력하기

# 함수 정의 
def calc(x, y):
    print(f' {x} + {y} = {x+y}')
    print(f' {x} - {y} = {x-y}')
    print(f' {x} x {y} = {x*y}')
    print(f' {x} / {y} = {x/y:.2f}')
    print('='*20)
    
# 함수 호출 
calc(10, 3)
calc(5, 8)

 10 + 3 = 13
 10 - 3 = 7
 10 x 3 = 30
 10 / 3 = 3.33
====================
 5 + 8 = 13
 5 - 8 = -3
 5 x 8 = 40
 5 / 8 = 0.62
====================

In [103]:
# 특정 단을 출력하는 구구단 함수를 정의한 후 호출하여라
def gugu(n):
    print()
    print(f' {n} 단')
    for i in range(1, 10):
        print(f' {n} X {i} = {n*i}')

# 구구단 호출 
gugu(5)
gugu(13)

 5 단
 5 X 1 = 5
 5 X 2 = 10
 5 X 3 = 15
 5 X 4 = 20
 5 X 5 = 25
 5 X 6 = 30
 5 X 7 = 35
 5 X 8 = 40
 5 X 9 = 45

 13 단
 13 X 1 = 13
 13 X 2 = 26
 13 X 3 = 39
 13 X 4 = 52
 13 X 5 = 65
 13 X 6 = 78
 13 X 7 = 91
 13 X 8 = 104
 13 X 9 = 117

In [105]:
# 파라미터 X, 반환값 O
# 함수 정의
# def 함수명():
#     명령문 
#     return 변수|값 

# 함수 호출은?
# 함수명()

# 입력 데이타를 받은 후 
# 계산식 결과 출력하기 
def calcAdd():
    x = input('첫번째 숫자는? ')
    y = input('두번째 숫자는? ')
    if x.isdigit() and y.isdigit():
        return f' {x} + {y} = {int(x)+int(y)}'
    else:
        return '계산 불가능'

# 함수 호출
calcAdd()

첫번째 숫자는? ㅇㅇㅎㅇㅇㅎ
두번째 숫자는? ㅇㅎㅇㅎㅇㅎ

'계산 불가능'