# Review

## 반복문 

### while 
- 카운팅변수 + 조건식 
- 무한루프 + break 

### for 
- for 변수 in range(시작, 끝, 단계)
- for 변수 in 문자열|리스트|튜플|집합|딕셔너리 
- 리스트내포 [ 값 for 변수 in range(시작, 끝, 단계)]
- for 변수1, 변수2 ... in 다차원리스트|다차원튜플 
- for 변수1, 변수2 ... in for 문 + zip()

### 함수 
- def
- 매개변수 = 파라미터 = 아규먼트 = 인자 
- return 반환값

In [7]:
# 파라미터 O, 반환값 O
# 1~n 까지의 합을 구하는 함수 정의 
def sumN(n):
    tot = 0 # 누적합 저장 변수 
    for i in range(1, n+1):
        tot += i
    return f' 1~{n} 까지의 합은? {tot}' # 반환값 전달 

# 함수 호출 
print(sumN(100))
print(sumN(50))
# print(sumN()) # TypeError

 1~100 까지의 합은? 5050
 1~50 까지의 합은? 1275

In [10]:
# 파라미터 O, 반환값 O (여러개인 경우)
# 2개의 값을 전달해서 
# 사칙연산 결과값을 구하는 함수 정의 
def calc(x, y):
    # 쉼표를 이용하여 결과값을 여러개 지정
    return x+y, x-y, x*y, x/y

# 함수 호출
# 함수 결과는 튜플 
print(calc(10,5), type(calc(10,5)))
print(f'두수의 합은? {calc(10,5)[0]}')

(15, 5, 50, 2.0) <class 'tuple'>
두수의 합은? 15

In [11]:
# 파라미터 O, 반환값 O (초기값 지정방식)
# 두수의 합을 구하는 함수 정의 
# 파라미터 모두에 초기값이 있는 형태 
def calc_add(x=0, y=0):
    return f' {x} + {y} = {x+y} '

# 함수 호출 
print(calc_add())
print(calc_add(10))
print(calc_add(10, 7))

 0 + 0 = 0
 10 + 0 = 10
 10 + 7 = 17

In [15]:
# 파라미터 일부에 초기값이 있는 형태 
# 세수의 합을 구하는 함수 정의 
def calc_add2(x, y, z=0):
    return f' {x} + {y} + {z} = {x+y+z} '

# 함수 호출 
print(calc_add2(10, 20, 30))
print(calc_add2(10, 20))
# print(calc_add2(10)) # TypeError 
# print(calc_add2()) # TypeError

 10 + 20 + 30 = 60
 10 + 20 + 0 = 30

In [17]:
# 일부 초기값이 있는 경우 
# 위치 주의 
# 초기값이 있는 파라미터는 마지막에 지정 
# SyntaxError
# def calc_add3(x=0, y, z):
def calc_add3(y, z, x=0):    
    return f' {x} + {y} + {z} = {x+y+z} '

print(calc_add3(10, 20))

 0 + 10 + 20 = 30

In [19]:
# 슬라이드 180
# 함수를 호출하여 메세지가 출력되도록 함수를 정의하여라

# 함수 정의
def say_myself(name, old, man=True):
    print()
    print(f'나의 이름은 {name} 입니다')
    print(f'나이는 {old}살 입니다')
    if man:
        print('남자입니다.')
    else:
        print('여자입니다.')
        

# 함수 호출 
say_myself('홍길동', 30)
say_myself('김지원', 33, False)

나의 이름은 홍길동 입니다
나이는 30살 입니다
남자입니다.

나의 이름은 김지원 입니다
나이는 33살 입니다
여자입니다.

In [22]:
# 파라미터 갯수가 정해지지 않은 경우 
# *args => 튜플 

# 수강생 목록 출력함수 정의 
# 함수 정의시 *변수명 
# 함수안에서는 변수명으로만 명령어 처리 
def printStudent(*args):
    print()
    print(args, len(args), type(args))
    # 수강생이 0이 아니면
    if len(args):
        # 개별 학생 출력 
        count = 1
        for item in args:
            print(f'{count} 번째 = {item}')
            count += 1
    else:
        print('수강생이 없습니다.')
    

# 함수 호출 
printStudent()
printStudent('홍길동')
printStudent('홍길동', '고길동', '박길동')
printStudent('홍길동', '고길동', '박길동', '윤길동', '최길동')

() 0 <class 'tuple'>
수강생이 없습니다.

('홍길동',) 1 <class 'tuple'>
1 번째 = 홍길동

('홍길동', '고길동', '박길동') 3 <class 'tuple'>
1 번째 = 홍길동
2 번째 = 고길동
3 번째 = 박길동

('홍길동', '고길동', '박길동', '윤길동', '최길동') 5 <class 'tuple'>
1 번째 = 홍길동
2 번째 = 고길동
3 번째 = 박길동
4 번째 = 윤길동
5 번째 = 최길동

In [23]:
# 전달되는 데이타를 리스트로 정의하고 
# 모든 합을 구하는 함수 정의 
def addList(*args):
    temp = list(args) # 리스트로 형변환 
    # 리스트안의 모든합 구하기 
    total = 0 
    for item in temp:
        total += item
    print(temp, type(temp))
    print(f'데이타 모든합은? {total}')
    print()

addList()    
addList(10, 20, 60)  
addList(10, 20, 60, 88, 99)

[] <class 'list'>
데이타 모든합은? 0

[10, 20, 60] <class 'list'>
데이타 모든합은? 90

[10, 20, 60, 88, 99] <class 'list'>
데이타 모든합은? 277

In [32]:
# 일반 파라미터 , 가변 파라미터 (*args) 함께 지정
# 파라미터 뒤에 *args 정의 

# 기호값에 따라 계산결과 구하기 
# def calcTest(*args, choice): # TypeError 위치 조심 
def calcTest(choice, *args):    
    print()
    print(choice, type(choice))
    print(args, type(args))
    if (choice == '*') and (len(args) != 0):
        result = 1
        for item in args:
            result *= item
        return print(f'모든 곱은? {result}')    
    elif choice == '+' and (len(args) != 0):
        result = 0
        for item in args:
            result += item
        return print(f'모든 합은? {result}')        
    else:
        return print('계산 오류')     

# 함수 호출   
calcTest('+')
calcTest('+', 1, 2, 3)
calcTest('*', 1, 2, 3)
calcTest('!', 1, 2, 3)
# calcTest() # TypeError

+ <class 'str'>
() <class 'tuple'>
계산 오류

+ <class 'str'>
(1, 2, 3) <class 'tuple'>
모든 합은? 6

* <class 'str'>
(1, 2, 3) <class 'tuple'>
모든 곱은? 6

! <class 'str'>
(1, 2, 3) <class 'tuple'>
계산 오류

In [41]:
# 계산함수 테스트 
# min(문자열|튜플|리스트) 최솟값
# max(문자열|튜플|리스트) 최댓값 
# sum(튜플|리스트) 합 
# sum(튜플|리스트) / len() 평균 
num = (1, 2, 3, -1, 50)
txt = 'axrtyfdAX'
print(min(num), max(num), sum(num), sum(num)/len(num))
# 문자열에 함수 적용시 대문자소문자 알파벳순 
print(min(txt), max(txt))

-1 50 55 11.0
A y

In [42]:
# 슬라이드 189
# 첫번째 인자의 값이 'min'이면 
# 다음 인자의 숫자 중 최대값을 출력하고
# 첫번째 인자의 값이 'max'이면 
# 다음 인자의 숫자 중 최소값을 출력하여라
# 이 때 전달하는 숫자의 갯수는 가변으로 한다

def min_max_number(choice, *args):    
    print()
    if (choice == 'min') and (len(args) != 0):
        return print(f'최솟값은? {min(args)}')    
    elif (choice == 'max') and (len(args) != 0):
        return print(f'최댓값은? {max(args)}')        
    else:
        return print('오류발생')

# 함수 호출 
min_max_number('min', 10, 23, 4, -90, 100)
min_max_number('max', 10, 23, 4, -90, 100)
min_max_number('plus', 10, 23, 4, -90, 100)

최솟값은? -90

최댓값은? 100

오류발생

In [45]:
# 가변 딕셔너리 파라미터 (**kwargs) 지정
# 함수 호출시 키변수=값 형태로 지정 
# 함수명(키1=깂1, 키2=깂2 ...)
# 함수내부에서는 kwargs를 이용하여 명령어 작성 

# 학생 정보 출력하는 함수 정의 
def student_info(**kwargs):
    print()
    print(kwargs, type(kwargs))
    # 각 정보 개별 출력 
    for key in kwargs:
        print(f' {key} : {kwargs[key]}')

# 함수 호출 
student_info(name='홍길동', age='25', major='영문학과')
student_info(name='박길동', major='전자공학과')
student_info()
# student_info('박길동') # TypeError

{'name': '홍길동', 'age': '25', 'major': '영문학과'} <class 'dict'>
 name : 홍길동
 age : 25
 major : 영문학과

{'name': '박길동', 'major': '전자공학과'} <class 'dict'>
 name : 박길동
 major : 전자공학과

{} <class 'dict'>

In [47]:
# 람다함수 정의 
# lambda = 파라미터:반환값

# 세수의 곱을 구하는 함수 정의 (일반형태)
def calcTest1(x, y, z):
    return print(f' {x} X {y} X {z} = {x*y*z}')

calcTest1(2, 30, 5)

# 세수의 곱을 구하는 함수 정의 (람다형태)
calcTest2 = lambda x, y, z:print(f' {x} X {y} X {z} = {x*y*z}')

calcTest2(2, 30, 5)

 2 X 30 X 5 = 300
 2 X 30 X 5 = 300

In [49]:
# 슬라이드 197
# 첫 글자를 제외한 나머지 글자를 
# '*'로 표시하는 람다 함수를 정의하여라. 

# 일반함수 형태 
def print_info(word):
    return print(f'{word[0]}{"*"*len(word[1:])}')

print_info('홍길동')
print_info('줄리아로버츠')

# 람다 함수 형태 
print()
print_info2 = lambda word:print(f'{word[0]}{"*"*len(word[1:])}')
print_info2('홍길동')
print_info2('줄리아로버츠')

홍**
줄*****

홍**
줄*****

In [57]:
# 국어,영어,수학 3과목의 합과 평균을 
# 구하는 람다 함수를 정의하여라

grade = lambda kor,eng,math:print(f'국어:{kor} 영어:{eng} 수학:{math} 총점:{kor+eng+math} 평균:{(kor+eng+math)/3:.2f}')

grade(100, 55, 66)

국어:100 영어:55 수학:66 총점:221 평균:73.67

In [60]:
grade = lambda *args : print(f'국어:{args[0]} 영어:{args[1]} 수학:{args[2]} 총점:{sum(args)} 평균:{sum(args)/3:.2f}')
               
grade(100, 55, 66)

국어:100 영어:55 수학:66 총점:221 평균:73.67

# 아스키 코드 관련 함수 

- chr(num) : 숫자코드에 해당하는 문자 출력
- ord(str) : 문자에 해당하는 숫자코드 출력

In [63]:
# 함수? 레퍼런스 확인 
chr?

In [65]:
print(chr(65), ord('Z'))

A 90

In [75]:
# 알파벳 리스트 생성하기 
# 대문자 A, Z 숫자 코드값 확인 
print(ord('A'), ord('Z'))

# 빈리스트 생성 
alpha = []
# for 문을 이용하여 알파벳 차례대로 추가 
for i in range(ord('A'), ord('Z')+1):
    alpha.append(chr(i))
print(alpha) 

# 소문자 리스트는
alpha2 = []
for i in range(ord('a'), ord('z')+1):
    alpha2.append(chr(i))
print(alpha2) 

# 리스트 내포 방식으로 변환하기 
alpha3 = [ chr(i) for i in range(ord('a'), ord('z')+1) ]
print(alpha3)

65 90
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

# filter ()

- 특정 조건에 만족하는 데이타만 추출시킨다./ 
- filter(함수명, 리스트|튜플) 
- filter(람다식, 리스트|튜플)

In [77]:
# 숫자 리스트에서 짝수만 추출하기 
numlist = [ 12, -90, 55, 100, 23, 40, 33]

def oddPrint1(datalist):
    result = [] # 빈리스트 생성 
    # 리스트 값이 짝수이면 결과리스트에 추가 
    for item in datalist:
        if item%2 == 0:
            result.append(item)
    # 결과 리스트 반환 
    return result

# 함수 호출    
print(oddPrint1(numlist))

[12, -90, 100, 40]

In [82]:
# filter() 함수 스타일로 변환 
# 리스트 각 데이타에 적용할 함수 정의 
# 짝수이면 True 반환 
def choice_num(item):
    return item%2 == 0

print(choice_num(10))
print(choice_num(5))
print()

# filter(함수명, 리스트) 적용해서 리스트로 변환 
numlist = [ 12, -90, 55, 100, 23, 40, 33]
result = list(filter(choice_num, numlist))
print(result)

True
False

[12, -90, 100, 40]

In [83]:
# 람다스타일로 변경 
# filter(lambda 파라미터:반환, 리스트) 
numlist = [ 12, -90, 55, 100, 23, 40, 33]
result = list(filter(lambda item:item%2 == 0, numlist))
print(result)

[12, -90, 100, 40]

In [85]:
# 숫자리스트에서 양수만 추출하여라 
numlist = [ -12, -90, 55, 100, -23, 40, 33]

# 양수만 추출하는 함수 정의 
def positive(datalist):
    result = [] # 빈리스트 생성 
    # 값이 양수이면 결과리스트에 추가 
    for item in datalist:
        if (item > 0) :
            result.append(item)
    return result

# 함수 호출    
print(positive(numlist))

[55, 100, 40, 33]

In [88]:
# filter() 함수 스타일로 변환 
# 리스트 각 데이타에 적용할 함수 정의 
# 데이타값이 양수이면 True 반환 
def positive_data(item):
    return item > 0

print(positive_data(-100))
print(positive_data(67))

# filter(함수명, 리스트) 적용해서 리스트로 변환 
numlist = [ -12, -90, 55, 100, -23, 40, 33]
result = list(filter(positive_data, numlist))
print(result)

False
True
[55, 100, 40, 33]

In [90]:
# 람다스타일로 변경 
# filter(lambda 파라미터:반환값, 리스트) 
numlist = [ -12, -90, 55, 100, -23, 40, 33]
result = list(filter(lambda item:item > 0, numlist))
print(result)

[55, 100, 40, 33]

# map ()

- 기존 리스트를 가공 해서 새로운 데이터로 변환시킨다.
- map(함수명, 리스트|튜플) 
- map(람다식, 리스트|튜플)

In [92]:
# 제곱 리스트 만들기 
numlist = [ 2, 5, 7, 9, 100]

# 일반 함수 스타일 
def double_list(datalist):
    result = [] # 빈리스트 생성 
    for item in datalist:
        # 제곱한 데이타값을 리스트에 추가 
        result.append(item**2) 
    return result

# 함수 호출    
print(double_list(numlist))

[4, 25, 49, 81, 10000]

In [94]:
# map() 함수 스타일로 변환 
# 리스트 각 데이타에 적용할 함수 정의 
# 제곱값으로 변경하는 함수 정의 
def double(item):
    return item**2

print(double(5))

# map(함수명, 리스트)
numlist = [ 2, 5, 7, 9, 100]
result = list(map(double, numlist))
print(result)

25
[4, 25, 49, 81, 10000]

In [95]:
# 람다함수 이용
# map(lambda 파라미터:결과명령, 리스트)
numlist = [ 2, 5, 7, 9, 100]
result = list(map(lambda item:item**2, numlist))
print(result)

[4, 25, 49, 81, 10000]

In [96]:
# 두 리스트의 곱으로 구성된 리스트 생성하기 
list1 = [ 5, 6, 8, 10]
list2 = [ 12, 7, 34, 2]

def multyply_pair(list1, list2):
    result = []
    # 같은 인덱스의 데이타를 곱한 후 
    # 결과 리스트에 추가 
    for i in range(len(list1)):
        result.append(list1[i]*list2[i])
    return result

print(multyply_pair(list1, list2))

[60, 42, 272, 20]

In [97]:
# map() 함수 스타일로 변환 
# 리스트 각 데이타에 적용할 함수 정의 
def multyply(item1, item2):
    return item1*item2

list1 = [ 5, 6, 8, 10]
list2 = [ 12, 7, 34, 2]
result = list(map(multyply, list1, list2))
print(result)

[60, 42, 272, 20]

In [98]:
# map() + 람다 
list1 = [ 5, 6, 8, 10]
list2 = [ 12, 7, 34, 2]
result = list(map(lambda item1,item2:item1*item2 , 
                  list1, list2))
print(result)

[60, 42, 272, 20]

In [100]:
# 슬라이드 214
# 4개의 리스트 각 아이템 요소가 '-'로 연결되어 
# 출력되도록 하여라
# 최종 결과는 리스트로 저장되어야 하며 
# map() 함수를 활용한다

num_list = [100, 200, 300, 400]
name_list = ['길동', '동미', '미영', '영철']
gender_list = ['남','여','여','남']
address_list = ['서울','대전','부산','대구']

# 일반함수 스타일 
def user_info(num_list, name_list, gender_list, address_list):
    result = []
    for i in range(len(num_list)):
        result.append(f'{num_list[i]}-{name_list[i]}
                        -{gender_list[i]}-{address_list[i]}')
    return result

print(user_info(num_list, name_list, gender_list, 
                address_list))

['100-길동-남-서울', '200-동미-여-대전', '300-미영-여-부산', '400-영철-남-대구']

In [101]:
num_list = [100, 200, 300, 400]
name_list = ['길동', '동미', '미영', '영철']
gender_list = ['남','여','여','남']
address_list = ['서울','대전','부산','대구']

def user(num,name,gender,address):
    return f'{num}-{name}-{gender}-{address}'

result = list(map(user, num_list, name_list, 
                  gender_list, address_list))

print(result)

['100-길동-남-서울', '200-동미-여-대전', '300-미영-여-부산', '400-영철-남-대구']

In [102]:
num_list = [100, 200, 300, 400]
name_list = ['길동', '동미', '미영', '영철']
gender_list = ['남','여','여','남']
address_list = ['서울','대전','부산','대구']

result = list(map(lambda num,name,gender,address:
                  f'{num}-{name}-{gender}-{address}', 
                  num_list, name_list, gender_list, 
                  address_list))

print(result)

['100-길동-남-서울', '200-동미-여-대전', '300-미영-여-부산', '400-영철-남-대구']